@charset "UTF-8";
/**
--------------------------------------------------
  Normalize
--------------------------------------------------
**/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
          text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**
--------------------------------------------------
  Variables
--------------------------------------------------
**/
:root {
  --ff-avenir: Avenir, sans-serif;
  --ff-copperplate: Copperplate, sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-black: 900;
  --c-black: #000;
  --c-white: #fff;
  --c-masala: #3d3a37;
  --c-cod-gray: #1d1d1d;
  --c-alto: #d0d0d0;
  --c-black-haze: #f8f9f9;
  --c-sorrell-brown: #c9b182;
}

/**
--------------------------------------------------
  Reset
--------------------------------------------------
**/
html {
  font-family: var(--ff-avenir);
  font-size: 16px;
  font-weight: var(--fw-regular);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--c-white);
  color: var(--c-masala);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

img,
svg {
  vertical-align: top;
}

svg {
  fill: currentColor;
}

a,
button,
input,
textarea {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, color;
          transition-property: background-color, border-color, color;
}

button,
input,
textarea {
  font-weight: inherit;
  vertical-align: top;
}

button {
  line-height: inherit;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

input {
  line-height: normal;
}

textarea {
  line-height: inherit;
  resize: none;
}

/**
--------------------------------------------------
  Font
--------------------------------------------------
**/
@font-face {
  font-family: "Avenir";
  src: url("../font/avenir-light.woff2") format("woff2"), url("../font/avenir-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/avenir-roman.woff2") format("woff2"), url("../font/avenir-roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/avenir-medium.woff2") format("woff2"), url("../font/avenir-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir";
  src: url("../font/avenir-black.woff2") format("woff2"), url("../font/avenir-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Copperplate";
  src: url("../font/copperplate-regular.woff2") format("woff2"), url("../font/copperplate-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/**
--------------------------------------------------
  Layout
--------------------------------------------------
**/
.wrapper {
  position: relative;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

/**
--------------------------------------------------
  Modifier
--------------------------------------------------
**/
.p--rel {
  position: relative;
}
.p--abs {
  position: absolute;
}
.p--fixed {
  position: fixed;
}
.p--sticky {
  position: sticky;
}

.d--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d--inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.d--block {
  display: block;
}
.d--inline-block {
  display: inline-block;
}
.d--grid {
  display: grid;
}
.d--hidden {
  display: none;
}

.flex--none {
  -webkit-box-flex: 0;
  -ms-flex: none;
      flex: none;
}
.flex--equal {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
}
.flex--auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.flex--initial {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}
.flex--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex--col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.flex--jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex--jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex--jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex--jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex--jc-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex--jc-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.flex--ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex--ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex--ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex--ai-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.flex--ai-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.w--auto {
  width: auto;
}
.w--full {
  width: 100%;
}

.h--auto {
  height: auto;
}
.h--full {
  height: 100%;
}

.of--hidden {
  overflow: hidden;
}

.obj--cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.obj--contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.obj--fill {
  -o-object-fit: fill;
     object-fit: fill;
}

.font--avenir {
  font-family: var(--ff-avenir);
}
.font--copperplate {
  font-family: var(--ff-copperplate);
}
.font--light {
  font-weight: var(--fw-light);
}
.font--regular {
  font-weight: var(--fw-regular);
}
.font--medium {
  font-weight: var(--fw-medium);
}
.font--black {
  font-weight: var(--fw-black);
}
.font--italic {
  font-style: italic;
}
.font--normal {
  font-style: normal;
}

.text--start {
  text-align: left;
}
.text--end {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
.text--capitalize {
  text-transform: capitalize;
}
.text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text--break {
  word-break: break-all;
}

.float--start {
  float: left;
}
.float--end {
  float: right;
}
.float--clear::after {
  display: table;
  pointer-events: none;
  content: "";
  clear: both;
}

.sr--only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.max-w--960 {
  max-width: 960px;
}
.max-w--1140 {
  max-width: 1140px;
}

/**
--------------------------------------------------
  Splide
--------------------------------------------------
**/
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-rendered,
.splide.is-initialized {
  visibility: visible;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__track,
.splide__slide,
.splide__container {
  position: relative;
}
.splide__track {
  z-index: 0;
  overflow: hidden;
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.splide__track--fade > .splide__list > .splide__slide {
  z-index: 0;
  opacity: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  z-index: 1;
  opacity: 1;
}
.splide__track--ttb > .splide__list {
  display: block;
}
.splide__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__list,
.splide__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.splide__list {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__pagination {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  pointer-events: none;
}
.splide__pagination li {
  pointer-events: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.splide__pagination button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: var(--c-alto);
  border: 0;
  border-radius: 50%;
}
.splide__pagination button.is-active {
  background-color: var(--c-masala);
}
.splide__spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: auto;
  contain: strict;
  border: var(--c-black) solid 2px;
  border-left-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}
.splide__progress__bar {
  width: 0;
}
.splide__toggle__play {
  display: inline;
}
.splide__toggle__pause {
  display: none;
}
.splide__toggle.is-active .splide__toggle__play {
  display: none;
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}
.splide__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}
.splide--rtl {
  direction: rtl;
}

/**
--------------------------------------------------
  Animate
--------------------------------------------------
**/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/**
--------------------------------------------------
  Header
--------------------------------------------------
**/
.header {
  position: relative;
  background-color: var(--c-masala);
  color: var(--c-white);
}
.header-logo {
  height: var(--header-logo-h);
}
.header-title {
  font-size: var(--header-title-fs);
  line-height: 1;
}
.header-banner {
  background-image: var(--header-banner-bg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* mobile */
@media (max-width: 767px) {
  .header {
    --header-logo-h: 80px;
    --header-title-fs: 28px;
    --header-banner-bg: url(../img/banner-a.jpg);
    --header-banner-mh: 260px;
    text-align: center;
  }
  .header-logo {
    margin-bottom: 20px;
  }
  .header-title {
    margin-bottom: 30px;
  }
  .header-banner {
    min-height: var(--header-banner-mh);
    margin-right: -30px;
    margin-left: -30px;
    padding-bottom: 62.5%;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .header {
    --header-pt: 60px;
    --header-pb: 210px;
    --header-logo-h: 90px;
    --header-title-fs: 54px;
    --header-banner-bg: url(../img/banner-b.jpg);
    --header-banner-mh: 540px;
    min-height: var(--header-banner-mh);
    padding-top: var(--header-pt);
    padding-bottom: var(--header-pb);
  }
  .header-logo,
  .header-title {
    position: relative;
    z-index: 2;
  }
  .header-logo {
    margin-bottom: 30px;
  }
  .header-banner {
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

/**
--------------------------------------------------
  Footer
--------------------------------------------------
**/
.footer {
  padding-top: var(--footer-pt);
  padding-bottom: var(--footer-pb);
  font-size: 12px;
  line-height: calc(1em + 8px);
  background-color: var(--c-masala);
  color: var(--c-white);
}
.footer a {
  text-decoration: none;
  color: inherit;
}
.footer a:hover {
  text-decoration: underline;
}
.footer li + li::before {
  content: "—";
  pointer-events: none;
}

/* mobile */
@media (max-width: 767px) {
  .footer {
    --footer-pt: 30px;
    --footer-pb: 60px;
  }
  .footer li {
    width: 100%;
  }
  .footer li + li::before {
    display: block;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .footer {
    --footer-pt: 60px;
    --footer-pb: 60px;
  }
  .footer li + li::before {
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
  }
}

/**
--------------------------------------------------
  Intro
--------------------------------------------------
**/
.intro {
  padding-top: var(--intro-py);
  padding-bottom: var(--intro-py);
}
.intro-title {
  font-size: var(--intro-title-fs);
  line-height: 1;
  color: var(--c-sorrell-brown);
}
.intro-summary,
.intro-support {
  font-size: var(--intro-info-fs);
  line-height: calc(1em + 8px);
}
.intro-summary a,
.intro-support a {
  color: var(--c-sorrell-brown);
}
.intro-summary a:hover,
.intro-support a:hover {
  color: var(--c-black);
}
.intro-summary strong,
.intro-support strong {
  font-weight: var(--fw-medium);
}
.intro-summary {
  margin-top: 30px;
  color: var(--c-cod-gray);
}
.intro-support {
  margin-top: 20px;
}
.intro-button {
  margin-top: 40px;
  font-size: var(--intro-button-fs);
  line-height: calc(1em + 8px);
}
.intro-button a {
  display: inline-block;
  padding: 15px 2em;
  text-decoration: none;
  background-color: var(--c-sorrell-brown);
  border-radius: 5px;
  color: var(--c-masala);
}
.intro-button a:hover {
  background-color: var(--c-cod-gray);
  color: var(--c-white);
}
.intro-item {
  margin-top: 40px;
}
.intro-item--icon {
  color: var(--c-sorrell-brown);
}
.intro-item--info {
  margin-top: 15px;
  font-size: var(--intro-item-fs);
  line-height: calc(1em + 8px);
}
.intro-item--image {
  max-width: 120px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

/* mobile */
@media (max-width: 767px) {
  .intro {
    --intro-py: 45px;
    --intro-title-fs: 24px;
    --intro-info-fs: 18px;
    --intro-item-fs: 18px;
    --intro-button-fs: 16px;
  }
  .intro-item {
    width: 100%;
  }
  .intro-image {
    display: none;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .intro {
    --intro-py: 60px;
    --intro-title-fs: 32px;
    --intro-info-fs: 20px;
    --intro-item-fs: 18px;
    --intro-button-fs: 20px;
    --intro-image-w: 255px;
    --intro-image-h: 350px;
  }
  .intro-list {
    margin-right: -15px;
    margin-left: -15px;
  }
  .intro-list .intro-item {
    max-width: 240px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .intro-list .intro-item:nth-child(2n) {
    width: 28%;
  }
  .intro-list .intro-item:nth-child(2n+1) {
    width: 22%;
  }
  .intro-image {
    width: var(--intro-image-w);
    height: var(--intro-image-h);
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  .intro-image {
    display: none;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .intro-image {
    position: absolute;
    top: 0;
    left: 0;
  }
  .intro-container {
    position: relative;
    min-height: var(--intro-image-h);
    padding-left: calc(var(--intro-image-w) + 30px);
  }
}

/**
--------------------------------------------------
  Editor
--------------------------------------------------
**/
.editor {
  padding-top: var(--editor-py);
  padding-bottom: var(--editor-py);
}
.editor-title {
  font-size: var(--editor-title-fs);
  line-height: 1;
  color: var(--c-sorrell-brown);
}
.editor-body {
  margin-top: 30px;
  font-size: var(--editor-body-fs);
  font-weight: var(--fw-medium);
  line-height: calc(1em + 8px);
  color: var(--c-cod-gray);
}
.editor-body h1,
.editor-body h2,
.editor-body h3,
.editor-body h4,
.editor-body h5,
.editor-body p,
.editor-body ul,
.editor-body ol {
  margin-top: 25px;
}
.editor-body h1:first-child,
.editor-body h2:first-child,
.editor-body h3:first-child,
.editor-body h4:first-child,
.editor-body h5:first-child,
.editor-body p:first-child,
.editor-body ul:first-child,
.editor-body ol:first-child {
  margin-top: 0;
}
.editor-body h1,
.editor-body h2,
.editor-body h3,
.editor-body h4,
.editor-body h5 {
  font-size: 1em;
  font-weight: var(--fw-black);
}
.editor-body ul,
.editor-body ol {
  margin-left: 1em;
}
.editor-body ul {
  list-style: disc;
}
.editor-body ol {
  list-style: decimal;
}
.editor-body a {
  color: var(--c-sorrell-brown);
}
.editor-body a:hover {
  color: var(--c-black);
}
.editor-body strong {
  font-weight: var(--fw-black);
}

/* mobile */
@media (max-width: 767px) {
  .editor {
    --editor-py: 45px;
    --editor-title-fs: 24px;
    --editor-body-fs: 18px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .editor {
    --editor-py: 60px;
    --editor-title-fs: 32px;
    --editor-body-fs: 20px;
  }
}

/**
--------------------------------------------------
  Support
--------------------------------------------------
**/
.support {
  --support-py: 60px;
  padding-top: var(--support-py);
  padding-bottom: var(--support-py);
  font-size: var(--support-fs);
  line-height: calc(1em + 8px);
}
.support a {
  color: var(--c-sorrell-brown);
}
.support a:hover {
  color: var(--c-black);
}
.support strong {
  font-weight: var(--fw-medium);
}

/* mobile */
@media (max-width: 767px) {
  .support {
    --support-fs: 18px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .support {
    --support-fs: 20px;
  }
}

/**
--------------------------------------------------
  Document
--------------------------------------------------
**/
.document {
  padding-top: var(--document-py);
  padding-bottom: var(--document-py);
  background-color: var(--c-black-haze);
}
.document-title {
  font-size: var(--document-title-fs);
  line-height: calc(1em + 2px);
  color: var(--c-sorrell-brown);
}
.document-body {
  margin-top: var(--document-body-mt);
}
.document-slide .splide__list {
  margin-right: -15px;
  margin-left: -15px;
}
.document-slide .splide__slide {
  padding-right: 15px;
  padding-left: 15px;
}
.document-card--image {
  position: relative;
  width: 168px;
  height: 220px;
  margin-bottom: 20px;
}
.document-card--image::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  background-color: var(--c-masala);
  content: "";
  pointer-events: none;
}
.document-card--title {
  font-size: var(--document-card-title-fs);
  line-height: 1;
}
.document-card--size em {
  margin-left: 12px;
  font-style: normal;
}
.document-card--size span {
  color: var(--c-sorrell-brown);
}
.document-card--button em {
  margin-left: 12px;
  font-style: normal;
}
.document-card--button span {
  width: 44px;
  height: 44px;
  border: var(--c-sorrell-brown) solid 1px;
  color: var(--c-black);
}
.document-card--button a {
  text-decoration: none;
  color: var(--c-masala);
}
.document-card--button a:hover {
  color: var(--c-black);
}
.document-card--button a:hover span {
  background-color: var(--c-sorrell-brown);
}
.document-card--toolbar {
  line-height: calc(1em + 8px);
}

/* mobile */
@media (max-width: 767px) {
  .document {
    --document-py: 45px;
    --document-title-fs: 24px;
    --document-body-mt: 30px;
    --document-card-title-fs: 20px;
  }
  .document-title {
    text-align: center;
  }
  .document-title br {
    display: none;
  }
  .document-title span {
    display: block;
  }
  .document-card--image {
    margin-right: auto;
    margin-left: auto;
  }
  .document-card--title {
    text-align: center;
  }
  .document-card--toolbar {
    margin-top: 30px;
  }
  .document-card--toolbar .document-card--button {
    margin-left: 30px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .document {
    --document-py: 60px;
    --document-title-fs: 32px;
    --document-body-mt: 40px;
    --document-card-title-fs: 24px;
  }
  .document-card--toolbar {
    margin-top: 20px;
  }
  .document-card--toolbar .document-card--button {
    width: 100%;
    margin-top: 20px;
  }
}
