/**
--------------------------------------------------
  Normalize
--------------------------------------------------
**/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
          text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**
--------------------------------------------------
  Variables
--------------------------------------------------
**/
:root {
  --ff-roboto: Roboto, sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --c-black: #000;
  --c-white: #fff;
  --c-orient: #00537b;
  --c-curious-blue: #3395d0;
  --c-violet: #8764a3;
  --c-deluge: #7f6fac;
  --c-trendy-pink: #8963a3;
  --c-apple: #61933b;
  --c-olive-drab: #629330;
  --c-hippie-green: #609449;
  --c-bird-flower: #c2c917;
  --c-red: #f00;
  --c-ronchi: #edb849;
  --c-alabaster: #f8f8f8;
  --c-gallery: #ededed;
  --c-silver-chalice: #a5a5a5;
  --c-gray: #868686;
  --c-dove-gray: #707070;
  --header: 70px;
  --gutter: 25px;
}

/**
--------------------------------------------------
  Reset
--------------------------------------------------
**/
html {
  font-family: var(--ff-roboto);
  font-size: 16px;
  font-weight: var(--fw-regular);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--c-white);
  color: var(--c-black);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

img,
svg {
  vertical-align: top;
}

svg {
  fill: currentColor;
}

a,
button,
input,
textarea {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, color;
          transition-property: background-color, border-color, color;
}

button,
input,
textarea {
  font-weight: inherit;
  vertical-align: top;
}

button {
  line-height: inherit;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

input {
  line-height: normal;
}

textarea {
  line-height: inherit;
  resize: none;
}

/**
--------------------------------------------------
  Layout
--------------------------------------------------
**/
.wrapper {
  position: relative;
  padding-top: var(--header);
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}

/* mobile */
@media (max-width: 767px) {
  .d--hidden-xs {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .d--hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .d--hidden-md {
    display: none !important;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .d--hidden-lg {
    display: none !important;
  }
}

/**
--------------------------------------------------
  Modifier
--------------------------------------------------
**/
.p--rel {
  position: relative;
}
.p--abs {
  position: absolute;
}
.p--fixed {
  position: fixed;
}
.p--sticky {
  position: sticky;
}

.d--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d--inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.d--block {
  display: block;
}
.d--inline-block {
  display: inline-block;
}
.d--none {
  display: none !important;
}

.flex--none {
  -webkit-box-flex: 0;
  -ms-flex: none;
      flex: none;
}
.flex--equal {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
}
.flex--auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.flex--initial {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}
.flex--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex--col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.flex--jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex--jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex--jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex--jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex--jc-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.flex--jc-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.flex--ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex--ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.flex--ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex--ai-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.flex--ai-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.w--auto {
  width: auto;
}
.w--full {
  width: 100%;
}

.h--auto {
  height: auto;
}
.h--full {
  height: 100%;
}

.max-w--full {
  max-width: 100%;
}
.max-w--1140 {
  max-width: 1140px;
}
.max-w--1380 {
  max-width: 1380px;
}
.max-h--full {
  max-height: 100%;
}

.of--hidden {
  overflow: hidden;
}

.obj--cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.obj--contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.obj--fill {
  -o-object-fit: fill;
     object-fit: fill;
}
.obj--top {
  -o-object-position: top;
     object-position: top;
}
.obj--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.font--regular {
  font-weight: var(--fw-regular);
}
.font--bold {
  font-weight: var(--fw-bold);
}
.font--black {
  font-weight: var(--fw-black);
}
.font--italic {
  font-style: italic;
}
.font--normal {
  font-style: normal;
}

.text--start {
  text-align: left;
}
.text--end {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
.text--capitalize {
  text-transform: capitalize;
}
.text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text--break {
  word-break: break-all;
}

.float--start {
  float: left;
}
.float--end {
  float: right;
}
.float--clear::after {
  display: table;
  pointer-events: none;
  content: "";
  clear: both;
}

.bg--orient {
  background-color: var(--c-orient);
}
.bg--curious-blue {
  background-color: var(--c-curious-blue);
}
.bg--violet {
  background-color: var(--c-violet);
}
.bg--deluge {
  background-color: var(--c-deluge);
}
.bg--trendy-pink {
  background-color: var(--c-trendy-pink);
}
.bg--apple {
  background-color: var(--c-apple);
}
.bg--olive-drab {
  background-color: var(--c-olive-drab);
}
.bg--hippie-green {
  background-color: var(--c-hippie-green);
}
.bg--bird-flower {
  background-color: var(--c-bird-flower);
}
.bg--alabaster {
  background-color: var(--c-alabaster);
}
.bg--silver-chalice {
  background-color: var(--c-silver-chalice);
}
.bg--white {
  background-color: var(--c-white);
}

.c--white {
  color: var(--c-white);
}
.c--black {
  color: var(--c-black);
}

.opaque--45 {
  opacity: 0.45;
}
.opaque--50 {
  opacity: 0.5;
}
.opaque--55 {
  opacity: 0.55;
}
.opaque--60 {
  opacity: 0.6;
}
.opaque--65 {
  opacity: 0.65;
}
.opaque--70 {
  opacity: 0.7;
}

.sr--only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
--------------------------------------------------
  Splide
--------------------------------------------------
**/
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-rendered,
.splide.is-initialized {
  visibility: visible;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__track,
.splide__slide,
.splide__container {
  position: relative;
}
.splide__track {
  z-index: 0;
  overflow: hidden;
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.splide__track--fade > .splide__list > .splide__slide {
  z-index: 0;
  opacity: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  z-index: 1;
  opacity: 1;
}
.splide__track--ttb > .splide__list {
  display: block;
}
.splide__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__list,
.splide__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.splide__list {
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__pagination {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
}
.splide__pagination > li {
  pointer-events: auto;
}
.splide__spinner {
  position: absolute;
  inset: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border: var(--c-black) solid 2px;
  border-left-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}
.splide__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.splide__visible {
  overflow: visible;
}
.splide__arrow {
  position: absolute;
  z-index: 1;
  padding: 0;
  background-color: var(--c-curious-blue);
  border: 0;
  border-radius: 50%;
  color: var(--c-white);
}
.splide__arrow:hover {
  background-color: var(--c-orient);
}
.splide__arrow[disabled] {
  background-color: var(--c-black);
  cursor: default;
  opacity: 0.25;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/**
--------------------------------------------------
  Dropdown
--------------------------------------------------
**/
.dropdown {
  --dropdown-icon-x: 15px;
  --dropdown-icon-w: 28px;
  --dropdown-arrow-x: 20px;
  --dropdown-arrow-w: 20px;
  --dropdown-list-h: 340px;
  position: relative;
}
.dropdown-list,
.dropdown-toggle {
  background-color: var(--c-white);
  border: var(--c-dove-gray) solid 1px;
  border-radius: 20px;
}
.dropdown-list {
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  left: 0;
  z-index: 4;
  max-height: var(--dropdown-list-h);
  overflow-x: hidden;
  overflow-y: auto;
  border-top-color: transparent;
  border-top-width: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: opacity, visibility;
          transition-property: opacity, visibility;
}
.dropdown-list.expanded {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}
.dropdown-toggle {
  position: relative;
  padding-top: 12px;
  padding-right: calc(var(--dropdown-arrow-w) + var(--dropdown-arrow-x) * 2);
  padding-bottom: 12px;
  padding-left: calc(var(--dropdown-icon-w) + var(--dropdown-icon-x) * 2);
  cursor: pointer;
}
.dropdown-toggle .dropdown-icon,
.dropdown-toggle .dropdown-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.dropdown-toggle .dropdown-icon {
  left: var(--dropdown-icon-x);
  width: var(--dropdown-icon-w);
}
.dropdown-toggle .dropdown-arrow {
  right: var(--dropdown-arrow-x);
  width: var(--dropdown-arrow-w);
}
.dropdown-toggle[aria-expanded=true] {
  border-bottom-color: transparent;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dropdown-label,
.dropdown-option {
  display: block;
}
.dropdown-label {
  font-size: 20px;
  line-height: 1.2;
}
.dropdown-option {
  padding-top: 9px;
  padding-right: var(--dropdown-arrow-x);
  padding-bottom: 9px;
  padding-left: var(--dropdown-icon-x);
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.dropdown-option:hover {
  background-color: var(--c-alabaster);
}
.dropdown-option.selected {
  font-weight: var(--fw-bold);
  background-color: var(--c-curious-blue);
  color: var(--c-white);
}

/* mobile */
/* tablet - desktop */
/**
--------------------------------------------------
  Header
--------------------------------------------------
**/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}
.header-logo,
.header-menu,
.header-brand,
.header-slogan {
  position: absolute;
}
.header-logo {
  top: -5px;
  left: var(--header-logo-x);
  width: var(--header-logo-s);
  height: var(--header-logo-s);
}
.header-logo a,
.header-logo span {
  display: block;
  padding: var(--header-logo-g);
  background-color: var(--c-white);
  border-radius: 50%;
}
.header-menu {
  top: 50%;
  right: var(--gutter);
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-brand,
.header-slogan {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 15px;
  line-height: 18px;
}
.header-brand a,
.header-slogan a {
  text-decoration: none;
  color: inherit;
}
.header-brand strong,
.header-slogan strong {
  font-weight: var(--fw-black);
}
.header-brand {
  right: calc(var(--header-toggle-w) + var(--gutter) + 35px);
}
.header-brand a {
  margin-left: 10px;
}
.header-slogan {
  left: calc(var(--header-logo-x) + var(--header-logo-s) + var(--gutter));
}
.header-slogan a:hover {
  text-decoration: underline;
}
.header-container {
  height: var(--header);
}

/* mobile - tablet */
@media (max-width: 1279px) {
  .header {
    --header-logo-s: 100px;
    --header-logo-g: 6px;
    --header-logo-x: var(--gutter);
    --header-toggle-w: 48px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .header {
    --header-logo-s: 120px;
    --header-logo-g: 10px;
    --header-logo-x: calc(var(--gutter) + 95px);
    --header-toggle-w: 34px;
  }
}

/**
--------------------------------------------------
  Footer
--------------------------------------------------
**/
.footer {
  --footer-icon-x: 20px;
  --footer-text-fs: 20px;
  --footer-logo-s: 100px;
  padding-top: var(--footer-py);
  padding-bottom: var(--footer-py);
}
.footer-info,
.footer-link {
  font-size: var(--footer-text-fs);
  line-height: 1.2;
}
.footer-info a,
.footer-link a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.footer-info a:hover,
.footer-link a:hover {
  color: var(--c-orient);
}
.footer-info a + a,
.footer-link a + a {
  margin-left: 20px;
}
.footer-info img,
.footer-link img {
  width: var(--footer-icon-w);
  margin-right: var(--footer-icon-x);
}
.footer-info {
  color: var(--c-curious-blue);
}
.footer-link {
  padding-left: calc(var(--footer-icon-w) + var(--footer-icon-x));
  color: var(--c-black);
}
.footer-logo {
  width: var(--footer-logo-s);
  height: var(--footer-logo-s);
}

/* mobile */
@media (max-width: 767px) {
  .footer {
    --footer-py: 30px;
    --footer-icon-w: 40px;
  }
  .footer-link {
    margin-top: 10px;
  }
  .footer-logo {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .footer {
    --footer-py: 40px;
    --footer-icon-w: 60px;
  }
  .footer-info,
  .footer-link {
    margin-right: calc(var(--footer-logo-s) + var(--gutter));
  }
  .footer-logo {
    position: absolute;
    top: 50%;
    right: var(--gutter);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

/**
--------------------------------------------------
  Menu
--------------------------------------------------
**/
.menu-toggle {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
}
.menu-toggle .menu-bar {
  width: var(--menu-bar-w);
  height: var(--menu-bar-h);
}
.menu-toggle .menu-close {
  width: var(--menu-close-s);
  height: var(--menu-close-s);
}
.menu-toggle[aria-expanded=false] .menu-bar {
  display: block;
}
.menu-toggle[aria-expanded=false] .menu-close {
  display: none;
}
.menu-toggle[aria-expanded=true] .menu-bar {
  display: none;
}
.menu-toggle[aria-expanded=true] .menu-close {
  display: block;
}
.menu-link a,
.menu-user a,
.menu-brand a {
  text-decoration: none;
  color: inherit;
}
.menu-link strong,
.menu-user strong,
.menu-brand strong {
  font-weight: var(--fw-black);
}
.menu-link,
.menu-user {
  font-size: var(--menu-text-fs);
  line-height: var(--menu-text-lh);
}
.menu-link a {
  padding: 10px var(--gutter);
}
.menu-link a:hover {
  background-color: var(--c-orient);
}
.menu-user,
.menu-brand {
  margin-top: var(--gutter);
}
.menu-user a {
  padding: 15px var(--gutter);
  background-color: var(--c-curious-blue);
}
.menu-user a:hover {
  background-color: var(--c-orient);
}
.menu-user img {
  height: 30px;
  margin-left: 20px;
}
.menu-brand {
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}
.menu-brand a {
  margin-left: 10px;
}
.menu-line {
  max-width: 360px;
  width: calc(100% - var(--gutter) * 2);
  height: 1px;
  margin-top: 15px;
  margin-right: var(--gutter);
  margin-bottom: 15px;
  margin-left: auto;
}
.menu-tab {
  font-size: 20px;
  line-height: 1.2;
}
.menu-tab--item {
  width: var(--menu-item-w);
}
.menu-tab--mask,
.menu-tab--banner {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.menu-tab--mask,
.menu-tab--image {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.menu-tab--mask {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.menu-tab--image {
  -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property:         transform;
          transition-property:         transform, -webkit-transform;
}
.menu-tab--body {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.menu-tab--text {
  position: relative;
  z-index: 3;
  padding: var(--menu-link-y) var(--gutter);
}
.menu-tab--text svg {
  width: var(--menu-plus-s);
  height: var(--menu-plus-s);
  margin-left: var(--gutter);
}
.menu-tab--text strong {
  font-weight: var(--fw-black);
}
.menu-tab--link {
  position: relative;
  display: block;
  min-height: var(--menu-link-h);
  padding-bottom: var(--menu-item-y);
  text-decoration: none;
  color: var(--c-white);
}
.menu-tab--link:hover .menu-tab--mask {
  opacity: 1;
}
.menu-tab--link:hover .menu-tab--image {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}
.menu-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  max-width: 600px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: var(--c-olive-drab);
  color: var(--c-white);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: opacity, visibility, -webkit-transform;
          transition-property: opacity, visibility, -webkit-transform;
          transition-property: opacity, visibility, transform;
          transition-property: opacity, visibility, transform, -webkit-transform;
}
.menu-wrapper.expanded {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* mobile */
@media (max-width: 767px) {
  .menu-tab {
    --menu-item-w: 100%;
    --menu-item-y: 25%;
    --menu-link-y: 15px;
    --menu-link-h: 120px;
    --menu-plus-s: 20px;
  }
  .menu-toggle {
    --menu-bar-w: 48px;
    --menu-bar-h: 36px;
    --menu-close-s: 26px;
  }
  .menu-wrapper {
    --menu-text-fs: 20px;
    --menu-text-lh: 1.2;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .menu-tab {
    --menu-item-w: calc(100% / 3);
    --menu-item-y: 50%;
    --menu-link-y: 20px;
    --menu-link-h: 220px;
    --menu-plus-s: 30px;
  }
  .menu-toggle {
    --menu-bar-w: 34px;
    --menu-bar-h: 26px;
    --menu-close-s: 26px;
  }
  .menu-wrapper {
    --menu-text-fs: 24px;
    --menu-text-lh: 1.25;
  }
}

/**
--------------------------------------------------
  Hero
--------------------------------------------------
**/
.hero {
  position: relative;
  background-color: var(--c-dove-gray);
  color: var(--c-white);
}
.hero-title,
.hero-tag,
.hero-button {
  padding-right: var(--hero-group-pr);
  padding-left: var(--hero-group-pl);
  line-height: 1.2;
}
.hero-title strong {
  font-weight: var(--fw-black);
}
.hero-tag,
.hero-button {
  font-size: 20px;
}
.hero-tag {
  margin-bottom: var(--hero-button-mb);
}
.hero-button {
  margin-top: var(--hero-button-mt);
}
.hero-button a {
  display: inline-block;
  padding: 13px var(--gutter);
  text-decoration: none;
  background-color: var(--c-curious-blue);
  border-radius: 20px;
  color: var(--c-white);
}
.hero-button a:hover {
  background-color: var(--c-orient);
}
.hero-mask,
.hero-banner {
  position: absolute;
  inset: 0;
}
.hero-banner {
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  padding-top: var(--hero-content-pt);
  padding-bottom: var(--hero-content-pb);
}
.hero-level--1 .hero-title {
  font-size: var(--hero-title-l1);
  font-weight: var(--fw-regular);
}
.hero-level--1 .hero-title,
.hero-level--1 .hero-button {
  max-width: var(--hero-group-w);
}
.hero-level--2 .hero-title {
  font-size: var(--hero-title-l2);
  font-weight: var(--fw-bold);
}
.hero-level--3 .hero-title {
  font-size: var(--hero-title-l3);
  font-weight: var(--fw-regular);
}

/* mobile */
@media (max-width: 767px) {
  .hero {
    --hero-title-l1: 30px;
    --hero-title-l2: 30px;
    --hero-title-l3: 20px;
    --hero-button-mt: 35px;
    --hero-group-w: 390px;
    --hero-content-pt: 55px;
    --hero-content-pb: 35px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .hero {
    --hero-title-l1: 40px;
    --hero-title-l2: 30px;
    --hero-title-l3: 30px;
    --hero-button-mt: 55px;
    --hero-group-pr: calc(var(--gutter) * 4);
    --hero-content-pt: 45px;
    --hero-content-pb: 85px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    --hero-group-w: 610px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .hero {
    --hero-logo-s: 120px;
    --hero-logo-x: calc(var(--gutter) + 95px);
    --hero-group-pl: calc(var(--hero-logo-x) + var(--hero-logo-s));
    --hero-group-w: 880px;
  }
}

/**
--------------------------------------------------
  Newsletter
--------------------------------------------------
**/
.newsletter {
  --newsletter-title-fs: 24px;
  --newsletter-form-fs: 20px;
  --newsletter-input-h: 50px;
  padding-top: var(--newsletter-py);
  padding-bottom: var(--newsletter-py);
}
.newsletter-title {
  font-size: var(--newsletter-title-fs);
  font-weight: var(--fw-bold);
  line-height: 1.25;
  color: var(--c-curious-blue);
}
.newsletter-form {
  margin-top: 30px;
}
.newsletter-input,
.newsletter-button {
  min-height: var(--newsletter-input-h);
  font-size: var(--newsletter-form-fs);
}
.newsletter-input {
  padding: 10px var(--gutter);
  background-color: var(--c-white);
  border: var(--c-dove-gray) solid 1px;
  border-radius: 20px;
  color: var(--c-black);
}
.newsletter-button {
  padding: 13px var(--gutter);
  line-height: 1.2;
  background-color: var(--c-curious-blue);
  border: 0;
  border-radius: 20px;
  color: var(--c-white);
}
.newsletter-button:hover {
  background-color: var(--c-orient);
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .newsletter {
    --newsletter-py: 40px;
    --newsletter-input-w: 560px;
    --newsletter-button-y: 15px;
    --newsletter-button-w: 320px;
  }
  .newsletter-input,
  .newsletter-button {
    width: 100%;
  }
  .newsletter-input {
    max-width: var(--newsletter-input-w);
  }
  .newsletter-button {
    max-width: var(--newsletter-button-w);
    margin-top: var(--newsletter-button-y);
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .newsletter {
    --newsletter-py: 80px;
    --newsletter-button-x: 20px;
    --newsletter-button-w: 150px;
  }
  .newsletter-input {
    width: calc((100% - var(--newsletter-button-w)) / 2 - var(--newsletter-button-x));
    margin-right: var(--newsletter-button-x);
  }
  .newsletter-button {
    min-width: var(--newsletter-button-w);
  }
}

/**
--------------------------------------------------
  Article
--------------------------------------------------
**/
.article-card--banner {
  position: relative;
  height: 200px;
}
.article-card--mask,
.article-card--image,
.article-card--title,
.article-card--text {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.article-card--mask {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility;
          transition-property: opacity, visibility;
}
.article-card--image {
  -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property:         transform;
          transition-property:         transform, -webkit-transform;
}
.article-card--title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
  -webkit-transition-property: color;
          transition-property: color;
}
.article-card--text,
.article-card--button {
  display: inline-block;
  min-width: 130px;
  padding: 8px var(--gutter);
  background-color: var(--c-curious-blue);
  border-radius: 20px;
  color: var(--c-white);
}
.article-card--text {
  -webkit-transition-property: background-color;
          transition-property: background-color;
}
.article-card--button {
  text-decoration: none;
}
.article-card--button:hover {
  background-color: var(--c-dove-gray);
}
.article-card--summary {
  margin-top: 20px;
  font-size: 15px;
  line-height: 18px;
}
.article-card--toolbar {
  font-size: 20px;
  line-height: 1.2;
}
.article-card--body,
.article-card--toolbar {
  margin-top: 30px;
}
.article-card--link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.article-card--link:hover .article-card--mask {
  opacity: 0.45;
  visibility: visible;
}
.article-card--link:hover .article-card--image {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}
.article-card--link:hover .article-card--title {
  color: var(--c-curious-blue);
}
.article-card--link:hover .article-card--text {
  background-color: var(--c-dove-gray);
}
.article-list {
  margin-right: calc(-1 * var(--gutter));
  margin-bottom: -40px;
  margin-left: calc(-1 * var(--gutter));
}
.article-list .article-item {
  width: var(--article-item-w);
  padding-right: var(--gutter);
  padding-bottom: 40px;
  padding-left: var(--gutter);
}
.article-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.article-section--title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
}
.article-section--toolbar {
  font-size: 20px;
  line-height: 1.2;
}
.article-section--toolbar a {
  text-decoration: underline;
  color: inherit;
}
.article-section--toolbar a:hover {
  color: var(--c-orient);
}
.article-section--toolbar strong {
  font-weight: var(--fw-black);
}
.article-section--body {
  margin-top: 30px;
}

/* mobile */
@media (max-width: 767px) {
  .article-list {
    --article-item-w: 100%;
  }
  .article-section--toolbar {
    margin-top: 40px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .article-section {
    --article-section--toolbar-w: 200px;
    position: relative;
  }
  .article-section--title {
    margin-right: calc(var(--article-section--toolbar-w) + var(--gutter));
  }
  .article-section--toolbar {
    position: absolute;
    top: 0;
    right: var(--gutter);
    max-width: var(--article-section--toolbar-w);
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .article-list {
    --article-item-w: 50%;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .article-list {
    --article-item-w: calc(100% / 3);
  }
}

/**
--------------------------------------------------
  Information
--------------------------------------------------
**/
.information {
  padding-top: var(--information-pt);
  padding-bottom: var(--information-pb);
}
.information-title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
}
.information-slider {
  margin-top: var(--information-slider-mt);
}
.information-slider .splide__arrow {
  top: calc((var(--information-image-h) - var(--information-arrow-s)) / 2);
  width: var(--information-arrow-s);
  height: var(--information-arrow-s);
}
.information-slider .splide__arrow--prev {
  left: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.information-slider .splide__arrow--next {
  right: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}
.information-article {
  position: relative;
}
.information-article--image {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--information-image-w);
  height: var(--information-image-h);
}
.information-article--title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
}
.information-article--summary {
  font-size: 15px;
  line-height: 18px;
}
.information-article--line {
  width: 45px;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .information {
    --information-pt: 20px;
    --information-pb: 30px;
    --information-body-x: 15px;
    --information-body-h: 120px;
    --information-image-w: 160px;
    --information-image-h: 120px;
    --information-arrow-s: 30px;
    --information-slider-mt: 20px;
  }
  .information-article--title {
    min-height: var(--information-body-h);
    padding-left: calc(var(--information-image-w) + var(--information-body-x));
  }
  .information-article--summary {
    margin-top: var(--information-body-x);
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .information {
    --information-pt: 40px;
    --information-pb: 50px;
    --information-body-x: 20px;
    --information-body-h: 160px;
    --information-image-w: 260px;
    --information-image-h: 100%;
    --information-arrow-s: 40px;
    --information-slider-mt: 30px;
  }
  .information-article {
    min-height: var(--information-body-h);
    padding-left: calc(var(--information-image-w) + var(--information-body-x));
  }
}

/**
--------------------------------------------------
  Organization
--------------------------------------------------
**/
.organization-search {
  padding-top: 30px;
  padding-bottom: 30px;
}
.organization-search--title {
  font-size: 20px;
  font-weight: var(--fw-bold);
  line-height: 1.2;
}
.organization-search--form,
.organization-search--support {
  margin-top: var(--gutter);
}
.organization-search--support {
  font-size: 18px;
  line-height: 22px;
}
.organization-button {
  padding: 13px var(--gutter);
  font-size: 20px;
  line-height: 1.2;
  background-color: var(--c-curious-blue);
  border: 0;
  border-radius: 20px;
  color: var(--c-white);
}
.organization-button svg {
  width: 24px;
  height: 24px;
}
.organization-button span {
  margin-left: 15px;
}
.organization-button:hover {
  background-color: var(--c-orient);
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .organization-search {
    --org-search-input-w: 560px;
    --org-search-button-w: 480px;
    --org-search-button-y: 20px;
  }
  .organization-search--input,
  .organization-search--button {
    width: 100%;
  }
  .organization-search--input {
    max-width: var(--org-search-input-w);
    margin-bottom: var(--org-search-button-y);
  }
  .organization-search--button {
    max-width: var(--org-search-button-w);
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .organization-search {
    --org-search-button-x: 20px;
    --org-search-button-w: 110px;
  }
  .organization-search--input {
    width: calc((100% - var(--org-search-button-w)) / 2 - var(--org-search-button-x));
    margin-right: var(--org-search-button-x);
  }
  .organization-search--button {
    width: var(--org-search-button-w);
  }
}

/**
--------------------------------------------------
  Banner
--------------------------------------------------
**/
.banner {
  padding-top: var(--banner-py);
  padding-bottom: var(--banner-py);
}

/* mobile */
@media (max-width: 767px) {
  .banner {
    --banner-py: 20px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .banner {
    --banner-py: 40px;
  }
}
