/* @font-face {
  font-family: Mongoose;
  font-style: normal;
  font-weight: 700;
  src: url("/themes/custom/afc/assets/fonts/mongoose-black.otf");
  font-display: swap;
} */
.h0 {
  font-family: Mongoose;
  font-size: 450px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h0 {
    font-size: 350px;
  }
}

.h1 {
  font-family: Mongoose;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h1 {
    font-size: 90px;
  }
}

.h2 {
  font-family: Mongoose;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h2 {
    font-size: 70px;
  }
}

.h3 {
  font-family: Mongoose;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h3 {
    font-size: 60px;
  }
}

.label_1 {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
@media (max-width: 960px) {
  .label_1 {
    font-size: 30px;
  }
}

.label_21 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
@media (max-width: 960px) {
  .label_21 {
    font-size: 20px;
    line-height: 140%;
  }
}

.label_22 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 960px) {
  .label_22 {
    font-size: 20px;
    line-height: 140%;
  }
}

.label_31 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.18px;
}
@media (max-width: 960px) {
  .label_31 {
    font-size: 15px;
  }
}

.label_32 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media (max-width: 960px) {
  .label_32 {
    font-size: 15px;
  }
}

.label_41 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.13px;
}
@media (max-width: 960px) {
  .label_41 {
    font-size: 13px;
  }
}

.label_42 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .label_42 {
    font-size: 12px;
  }
}

.label_43 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.25px;
}
@media (max-width: 960px) {
  .label_43 {
    font-size: 12px;
  }
}

.label_44 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
@media (max-width: 960px) {
  .label_44 {
    font-size: 12px;
  }
}

.label_51 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.05px;
}
@media (max-width: 960px) {
  .label_51 {
    font-size: 10px;
  }
}

.label_52 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.label_53 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

div[id*=toolbar-administration] {
  z-index: 2000 !important;
}

.contextual-region.block .contextual {
  display: none;
}

body:not(.cke_editable) ul {
  /*  list-style: none; */
}

body.cke_editable ul {
  /*  list-style: initial;
   padding: revert; */
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

*:focus-visible {
  outline: unset;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

label, img {
  display: block;
}

.ajax-progress,
.ajax-progress-throbber {
  display: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  padding: unset;
  margin: unset;
  font-weight: unset;
}

body.cke_editable {
  padding: initial;
  margin: initial;
  font-weight: initial;
}
body.cke_editable p,
body.cke_editable span,
body.cke_editable h1,
body.cke_editable h2,
body.cke_editable h3,
body.cke_editable h4,
body.cke_editable h5,
body.cke_editable h6,
body.cke_editable ul,
body.cke_editable li {
  padding: revert;
  margin: revert;
  font-weight: revert;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  margin: unset;
  background-color: unset !important;
}

.file + span {
  display: none !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

fieldset {
  border: unset;
  margin: unset;
}

.slick-slider {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.slick-list.draggable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* Spe */
* {
  color: #193246;
}

.lien_cache {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 0px;
  display: block;
}

p {
  margin-bottom: 30px;
}
p:last-child {
  margin-bottom: 0px;
}

.lien_icone_full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 19px 30px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
@media (max-width: 960px) {
  .lien_icone_full {
    padding: 19px 15px;
  }
}
.lien_icone_full * {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
  position: relative;
  z-index: 3;
}
.lien_icone_full:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #BE8CFA;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  content: "";
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.lien_icone_full:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #D2B8FA;
  top: 100%;
  left: 0;
  z-index: 2;
  display: block;
  content: "";
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.lien_icone_full span {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 960px) {
  .lien_icone_full span {
    font-size: 12px;
  }
}
.lien_icone_full .lien_icone {
  width: 13px;
  height: 12px;
  -webkit-mask-image: url("../img/icons/triangle_droite.svg");
          mask-image: url("../img/icons/triangle_droite.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #FFFFFF;
  display: block;
}
.lien_icone_full:active:before {
  opacity: 0;
}
.lien_icone_full:active:after {
  opacity: 0;
}
.lien_icone_full:active span {
  color: #BE8CFA;
}
.lien_icone_full:active .lien_icone {
  background-color: #BE8CFA;
}
@media (min-width: 960px) {
  .lien_icone_full:hover:after {
    top: 0;
  }
}

.lien_icone_empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.lien_icone_empty * {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.lien_icone_empty span {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #BE8CFA;
  text-align: center;
}
@media (max-width: 960px) {
  .lien_icone_empty span {
    font-size: 12px;
  }
}
.lien_icone_empty .lien_icone {
  width: 10px;
  height: 9px;
  -webkit-mask-image: url("../img/icons/triangle_droite.svg");
          mask-image: url("../img/icons/triangle_droite.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #BE8CFA;
  display: block;
}
@media (min-width: 960px) {
  .lien_icone_empty:hover span {
    color: #D2B8FA;
  }
  .lien_icone_empty:hover .lien_icone {
    background-color: #D2B8FA;
  }
}

.tag {
  padding: 5px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #BE8CFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.fond_violet {
  color: #FFFFFF;
  background-color: #BE8CFA;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 3px 3px 3px;
}

.mb {
  margin-bottom: 130px !important;
}
@media (max-width: 960px) {
  .mb {
    margin-bottom: 60px !important;
  }
}

.tac_activate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #193246 !important;
  padding: 25px;
}
.tac_activate .tac_float {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.tac_activate .tac_float .texte {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.13px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
@media (max-width: 960px) {
  .tac_activate .tac_float .texte {
    font-size: 13px;
  }
}
.tac_activate .tac_float button {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.25px;
  background-color: #BE8CFA !important;
  padding: 6px 15px;
}
@media (max-width: 960px) {
  .tac_activate .tac_float button {
    font-size: 12px;
  }
}

#afc_main {
  padding-top: 180px;
}
@media (max-width: 960px) {
  #afc_main {
    padding-top: 100px;
  }
}

/* @font-face {
  font-family: Mongoose;
  font-style: normal;
  font-weight: 700;
  src: url("/themes/custom/afc/assets/fonts/mongoose-black.otf");
  font-display: swap;
} */
.h0 {
  font-family: Mongoose;
  font-size: 450px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h0 {
    font-size: 350px;
  }
}

.h1 {
  font-family: Mongoose;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h1 {
    font-size: 90px;
  }
}

.h2 {
  font-family: Mongoose;
  font-size: 110px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h2 {
    font-size: 70px;
  }
}

.h3 {
  font-family: Mongoose;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .h3 {
    font-size: 60px;
  }
}

.label_1 {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
@media (max-width: 960px) {
  .label_1 {
    font-size: 30px;
  }
}

.label_21 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
}
@media (max-width: 960px) {
  .label_21 {
    font-size: 20px;
    line-height: 140%;
  }
}

.label_22 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 960px) {
  .label_22 {
    font-size: 20px;
    line-height: 140%;
  }
}

.label_31 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.18px;
}
@media (max-width: 960px) {
  .label_31 {
    font-size: 15px;
  }
}

.label_32 {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media (max-width: 960px) {
  .label_32 {
    font-size: 15px;
  }
}

.label_41 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.13px;
}
@media (max-width: 960px) {
  .label_41 {
    font-size: 13px;
  }
}

.label_42 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .label_42 {
    font-size: 12px;
  }
}

.label_43 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.25px;
}
@media (max-width: 960px) {
  .label_43 {
    font-size: 12px;
  }
}

.label_44 {
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
@media (max-width: 960px) {
  .label_44 {
    font-size: 12px;
  }
}

.label_51 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.05px;
}
@media (max-width: 960px) {
  .label_51 {
    font-size: 10px;
  }
}

.label_52 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.label_53 {
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}
/*# sourceMappingURL=afc.style.css.map */
