/**
--------------------------------------------------
  Normalize
--------------------------------------------------
**/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
          text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**
--------------------------------------------------
  Reset
--------------------------------------------------
**/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--c-white);
  color: var(--c-black);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/**
--------------------------------------------------
  Layout
--------------------------------------------------
**/
:root {
  --nux-ff-poppins: Poppins, sans-serif;
  --nux-ff-mongoose: Mongoose, sans-serif;
  --nux-fw-regular: 400;
  --nux-fw-semibold: 600;
  --nux-fw-bold: 700;
  --nux-c-black: #000;
  --nux-c-black-a-60: rgba(0, 0, 0, 0.6);
  --nux-c-white: #fff;
  --nux-c-white-a-20: rgba(255, 255, 255, 0.2);
  --nux-c-bluewood: #233344;
  --nux-c-bluewood-a-20: rgba(35, 51, 68, 0.2);
  --nux-c-bluewood-a-60: rgba(35, 51, 68, 0.6);
  --nux-c-river-bed: #445160;
  --nux-c-botticelli: #d9e3ed;
  --nux-c-cadet-blue: #aab5c0;
  --nux-c-westar: #e4e1d8;
  --nux-c-selago: #f0e9fd;
  --nux-c-portage: #b28ff6;
  --nux-c-bittersweet: #ff6964;
}

.nux-container {
  max-width: var(--nux-container-max-w);
  margin-inline: auto;
  padding-inline: var(--nux-gap);
  font-family: var(--nux-ff-poppins);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-container {
    --nux-gap: 30px;
    --nux-header-h: 100px;
    --nux-container-max-w: 620px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-container {
    --nux-gap: 60px;
    --nux-header-h: 180px;
    --nux-container-max-w: 1420px;
  }
}

/**
--------------------------------------------------
  Modifier
--------------------------------------------------
**/
.nux-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nux-d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.nux-d-block {
  display: block;
}
.nux-d-inline-block {
  display: inline-block;
}
.nux-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}
.nux-flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.nux-flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.nux-flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.nux-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nux-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.nux-flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
      flex: none;
}
.nux-flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.nux-flex-initial {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.nux-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.nux-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.nux-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nux-justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nux-justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.nux-justify-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.nux-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.nux-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.nux-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nux-align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.nux-align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.nux-w-auto {
  width: auto;
}
.nux-w-full {
  width: 100%;
}
.nux-h-auto {
  height: auto;
}
.nux-h-full {
  height: 100%;
}
.nux-max-w-full {
  max-width: 100%;
}
.nux-max-w-1280 {
  max-width: 1280px;
}
.nux-max-h-full {
  max-height: 100%;
}
.nux-min-w-full {
  min-width: 100%;
}
.nux-min-h-full {
  min-height: 100%;
}
.nux-of-hidden {
  overflow: hidden;
}
.nux-of-visible {
  overflow: visible;
}
.nux-font-poppins {
  font-family: var(--nux-ff-poppins);
}
.nux-font-mongoose {
  font-family: var(--nux-ff-mongoose);
}
.nux-font-italic {
  font-style: italic;
}
.nux-font-normal {
  font-style: normal;
}
.nux-font-regular {
  font-weight: var(--nux-fw-regular);
}
.nux-font-semibold {
  font-weight: var(--nux-fw-semibold);
}
.nux-font-bold {
  font-weight: var(--nux-fw-bold);
}
.nux-text-left {
  text-align: left;
}
.nux-text-right {
  text-align: right;
}
.nux-text-center {
  text-align: center;
}
.nux-text-justify {
  text-align: justify;
}
.nux-text-uppercase {
  text-transform: uppercase;
}
.nux-text-lowercase {
  text-transform: lowercase;
}
.nux-text-capitalize {
  text-transform: capitalize;
}
.nux-ratio-1x1 {
  aspect-ratio: 1/1;
}
.nux-ratio-4x3 {
  aspect-ratio: 4/3;
}
.nux-ratio-16x9 {
  aspect-ratio: 16/9;
}
.nux-ratio-21x9 {
  aspect-ratio: 21/9;
}
.nux-obj-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.nux-obj-contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.nux-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
--------------------------------------------------
  Hero
--------------------------------------------------
**/
.nux-hero {
  background-color: var(--nux-c-bittersweet);
}
.nux-hero__span {
  padding-inline: var(--nux-hero-span-px);
  color: var(--nux-c-bluewood);
}
.nux-hero__title {
  font-size: var(--nux-hero-title-fs);
  line-height: 1;
}
.nux-hero__title .nux-hero__span {
  background-color: var(--nux-c-white);
}
.nux-hero__summary {
  font-size: var(--nux-hero-summary-fs);
  line-height: 1.5;
}
.nux-hero__summary .nux-hero__span {
  background-color: var(--nux-c-westar);
}
.nux-hero__picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
.nux-hero__body {
  position: absolute;
  z-index: 2;
}
.nux-hero__banner {
  position: relative;
  z-index: 1;
}
.nux-hero__container {
  position: relative;
}

/* mobile */
@media (max-width: 1023px) {
  .nux-hero {
    --nux-hero-span-px: 15px;
    --nux-hero-title-fs: 78px;
    --nux-hero-summary-fs: 16px;
  }
  .nux-hero__body {
    top: 60px;
    right: 0;
  }
  .nux-hero__banner {
    height: calc(100dvh - var(--nux-header-h));
    min-height: 364px;
    max-height: 530px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-hero {
    --nux-hero-span-px: 20px;
  }
  .nux-hero__body {
    top: 0;
    right: 50%;
  }
  .nux-hero__banner {
    height: var(--nux-hero-banner-h);
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-hero {
    --nux-hero-title-fs: 112px;
    --nux-hero-summary-fs: 24px;
    --nux-hero-banner-h: 376px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-hero {
    --nux-hero-title-fs: 146px;
    --nux-hero-summary-fs: 30px;
    --nux-hero-banner-h: 482px;
  }
}

/**
--------------------------------------------------
  Intro
--------------------------------------------------
**/
.nux-intro {
  padding-block: var(--nux-intro-py);
  color: var(--nux-c-bluewood);
}
.nux-intro__title,
.nux-intro__category {
  line-height: 1;
}
.nux-intro__title {
  font-size: var(--nux-intro-title-fs);
}
.nux-intro__category {
  font-size: 45px;
}
.nux-intro__category li {
  padding-block: 10px;
}
.nux-intro__category li:not(:first-child) {
  margin-left: var(--nux-intro-category-g);
  padding-left: var(--nux-intro-category-g);
  border-left: currentColor solid 1px;
}
.nux-intro__summary {
  font-size: 14px;
  line-height: 20px;
}
.nux-intro__summary a {
  text-decoration: underline;
  color: inherit;
}
.nux-intro__summary a:hover {
  color: var(--nux-c-bittersweet);
}
.nux-intro__summary p:not(:first-child) {
  margin-top: 20px;
}
.nux-intro__banner {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-intro__banner::before,
.nux-intro__banner::after {
  position: absolute;
  width: var(--nux-intro-shape-w);
  aspect-ratio: 1/1;
  pointer-events: none;
  content: "";
}
.nux-intro__banner::before {
  top: 0;
  right: var(--nux-intro-shape-x);
  translate: 0 -50%;
  background-color: var(--nux-c-bittersweet);
}
.nux-intro__banner::after {
  bottom: 0;
  left: 0;
  translate: -50% 0;
  background-color: var(--nux-c-bluewood);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-intro {
    --nux-intro-py: 60px;
    --nux-intro-title-fs: 64px;
    --nux-intro-category-g: 20px;
    --nux-intro-shape-w: 70px;
    --nux-intro-shape-x: 20px;
  }
  .nux-intro__banner,
  .nux-intro__button,
  .nux-intro__summary,
  .nux-intro__category {
    margin-top: 30px;
  }
  .nux-intro__banner {
    position: relative;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-intro {
    --nux-intro-category-g: 30px;
    --nux-intro-shape-x: 30px;
  }
  .nux-intro__category {
    margin-top: 20px;
  }
  .nux-intro__summary {
    margin-top: 30px;
  }
  .nux-intro__button {
    margin-top: 40px;
  }
  .nux-intro__banner {
    position: absolute;
    top: 20px;
    left: var(--nux-gap);
    width: var(--nux-intro-banner-w);
  }
  .nux-intro__container {
    position: relative;
    min-height: var(--nux-intro-banner-w);
    padding-left: calc(var(--nux-intro-banner-w) + var(--nux-gap) + var(--nux-intro-container-g));
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-intro {
    --nux-intro-py: 80px;
    --nux-intro-title-fs: 82px;
    --nux-intro-banner-w: 400px;
    --nux-intro-shape-w: 100px;
    --nux-intro-container-g: 60px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-intro {
    --nux-intro-py: 100px;
    --nux-intro-title-fs: 100px;
    --nux-intro-banner-w: 600px;
    --nux-intro-shape-w: 140px;
    --nux-intro-container-g: 100px;
  }
}

/**
--------------------------------------------------
  Search
--------------------------------------------------
**/
.nux-search {
  padding-block: var(--nux-search-py);
  background-color: var(--nux-c-bluewood);
  color: var(--nux-c-white);
}
.nux-search__title {
  font-size: var(--nux-search-title-fs);
  line-height: 1;
  color: var(--nux-c-portage);
}
.nux-search__label {
  font-size: 14px;
  line-height: 20px;
}
.nux-search__control {
  max-width: 320px;
  margin-top: 15px;
}
.nux-search__control svg {
  display: block;
  fill: currentColor;
}
.nux-search__control input,
.nux-search__control button {
  height: 40px;
  border: 0;
}
.nux-search__control input {
  width: calc(100% - 40px);
  padding: 7px 15px;
  line-height: normal;
  background-color: var(--nux-c-white);
  color: var(--nux-c-bluewood);
}
.nux-search__control input::-webkit-input-placeholder {
  font-style: italic;
  color: inherit;
  opacity: 0.6;
}
.nux-search__control input::-moz-placeholder {
  font-style: italic;
  color: inherit;
  opacity: 0.6;
}
.nux-search__control input:-ms-input-placeholder {
  font-style: italic;
  color: inherit;
  opacity: 0.6;
}
.nux-search__control input::-ms-input-placeholder {
  font-style: italic;
  color: inherit;
  opacity: 0.6;
}
.nux-search__control input::placeholder {
  font-style: italic;
  color: inherit;
  opacity: 0.6;
}
.nux-search__control button {
  width: 40px;
  padding: 0;
  line-height: 1;
  background-color: var(--nux-c-portage);
  color: var(--nux-c-white);
  cursor: pointer;
  -webkit-transition-property: background-color;
          transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-search__control button:hover {
  background-color: var(--nux-c-bittersweet);
}
.nux-search__keyword {
  margin-top: 25px;
}
.nux-search__line {
  height: 1px;
  margin-block: var(--nux-search-line-my);
  background-color: var(--nux-c-river-bed);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-search {
    --nux-search-py: 60px;
    --nux-search-title-fs: 64px;
    --nux-search-line-my: 40px;
  }
  .nux-search__summary {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .nux-search__button {
    margin-top: 30px;
  }
  .nux-search__body {
    margin-top: 40px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-search {
    --nux-search-line-my: 60px;
  }
  .nux-search__summary {
    margin-top: 40px;
    font-size: 22px;
    line-height: 30px;
  }
  .nux-search__button {
    margin-top: 40px;
  }
  .nux-search__header {
    position: absolute;
    top: 0;
    left: var(--nux-gap);
    width: var(--nux-search-header-w);
  }
  .nux-search__container {
    position: relative;
    padding-left: calc(var(--nux-search-header-w) + var(--nux-gap) + var(--nux-search-container-g));
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-search {
    --nux-search-py: 80px;
    --nux-search-title-fs: 82px;
    --nux-search-header-w: 400px;
    --nux-search-container-g: 60px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-search {
    --nux-search-py: 140px;
    --nux-search-title-fs: 100px;
    --nux-search-header-w: 600px;
    --nux-search-container-g: 100px;
  }
}

/**
--------------------------------------------------
  Service
--------------------------------------------------
**/
.nux-service {
  padding-block: var(--nux-service-py);
  color: var(--nux-c-bluewood);
}
.nux-service__title {
  font-size: var(--nux-service-title-fs);
  line-height: 1;
}
.nux-service__card___image {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-service__card___body {
  margin-top: 20px;
}
.nux-service__card___title {
  font-size: var(--nux-service-card-title-fs);
  line-height: var(--nux-service-card-title-lh);
}
.nux-service__card___link {
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
}
.nux-service__card___link a {
  text-decoration: none;
  color: var(--nux-c-portage);
  -webkit-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-service__card___link a:hover {
  color: var(--nux-c-bittersweet);
}
.nux-service__card___link svg {
  display: block;
  margin-left: 10px;
  fill: currentColor;
}
.nux-service__list {
  margin-top: var(--nux-service-list-mt);
}
.nux-service__paging {
  gap: 10px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: var(--nux-c-cadet-blue);
}
.nux-service__paging svg {
  display: block;
  fill: currentColor;
}
.nux-service__paging button {
  padding: 0;
  line-height: 1;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
}
.nux-service__paging button:hover {
  color: var(--nux-c-bluewood);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-service {
    --nux-service-py: 60px;
    --nux-service-title-fs: 64px;
    --nux-service-list-g: 20px;
    --nux-service-list-mt: 20px;
    --nux-service-card-title-fs: 20px;
    --nux-service-card-title-lh: 28px;
  }
  .nux-service__list ul {
    gap: 20px var(--nux-service-list-g);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-width: none;
    margin-right: calc((100vw - 100%) * -0.5);
    padding-right: var(--nux-gap);
  }
  .nux-service__list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    max-width: 320px;
    width: calc(100vw - var(--nux-gap) * 2 - var(--nux-service-list-g));
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-service__list ul {
    gap: 40px var(--nux-service-list-g);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .nux-service__list li {
    width: calc((100% - var(--nux-service-list-g) * 2) / 3);
  }
  .nux-service__paging {
    display: none;
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-service {
    --nux-service-py: 80px;
    --nux-service-title-fs: 82px;
    --nux-service-list-g: 40px;
    --nux-service-list-mt: 50px;
    --nux-service-card-title-fs: 22px;
    --nux-service-card-title-lh: 30px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-service {
    --nux-service-py: 120px;
    --nux-service-title-fs: 100px;
    --nux-service-list-g: 50px;
    --nux-service-list-mt: 60px;
    --nux-service-card-title-fs: 26px;
    --nux-service-card-title-lh: 34px;
  }
}

/**
--------------------------------------------------
  Career
--------------------------------------------------
**/
.nux-career__title {
  font-size: var(--nux-career-title-fs);
  line-height: 1;
}
.nux-career__summary {
  margin-top: 20px;
}
.nux-career__body {
  background-color: var(--nux-c-bittersweet);
  color: var(--nux-c-bluewood);
}
.nux-career__aside {
  background-color: var(--nux-c-bluewood);
  -webkit-box-shadow: inset 0 0 30px var(--nux-c-black-a-60);
          box-shadow: inset 0 0 30px var(--nux-c-black-a-60);
  color: var(--nux-c-white);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-career {
    --nux-career-title-fs: 64px;
  }
  .nux-career__summary {
    font-size: 14px;
    line-height: 20px;
  }
  .nux-career__body,
  .nux-career__aside {
    padding: 60px var(--nux-gap);
  }
  .nux-career__container {
    padding-inline: 0;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-career__summary {
    font-size: 16px;
    line-height: 1.5;
  }
  .nux-career__body,
  .nux-career__aside {
    max-width: 50%;
  }
  .nux-career__body {
    padding: var(--nux-career-body-g);
  }
  .nux-career__aside {
    padding: var(--nux-gap);
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-career {
    --nux-career-title-fs: 96px;
    --nux-career-body-g: 80px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-career {
    --nux-career-title-fs: 128px;
    --nux-career-body-g: 120px;
  }
}

/**
--------------------------------------------------
  Card
--------------------------------------------------
**/
.nux-card {
  max-width: 300px;
  margin-inline: auto;
}
.nux-card__help {
  gap: var(--nux-card-help-g);
  font-size: 10px;
  line-height: 1.4;
}
.nux-card__help em {
  width: 150px;
}
.nux-card__help svg {
  display: block;
  fill: currentColor;
}
.nux-card__item {
  height: 430px;
  padding: 13px;
  background-color: var(--nux-c-white);
  -webkit-box-shadow: 0 0 10px var(--nux-c-black);
          box-shadow: 0 0 10px var(--nux-c-black);
  color: var(--nux-c-bluewood);
}
.nux-card__item___image {
  aspect-ratio: 1/1;
}
.nux-card__item___title {
  font-size: 16px;
  line-height: 1.5;
}
.nux-card__item___summary {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
.nux-card__item___body {
  max-height: 120px;
  margin-top: 20px;
  padding-inline: 17px;
}
.nux-card__list {
  margin-top: 50px;
}
.nux-card__toolbox {
  margin-top: 30px;
}
.nux-card__toolbox svg {
  display: block;
  fill: currentColor;
}
.nux-card__toolbox button {
  width: var(--nux-card-button-w);
  padding: 0;
  line-height: 1;
  aspect-ratio: 1/1;
  background-color: var(--nux-c-white);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px var(--nux-c-black);
          box-shadow: 0 0 10px var(--nux-c-black);
  color: var(--nux-c-bluewood);
  cursor: pointer;
  -webkit-transition-property: background-color, color;
          transition-property: background-color, color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-card__toolbox button:hover {
  background-color: var(--nux-card-button-bg);
  color: var(--nux-c-white);
}
.nux-card__toolbox button.i1 {
  margin-right: 34px;
  --nux-card-button-w: 40px;
  --nux-card-button-bg: var(--nux-c-black);
}
.nux-card__toolbox button.i2 {
  --nux-card-button-w: 62px;
  --nux-card-button-bg: var(--nux-c-bittersweet);
}
.nux-card__toolbox button.i3 {
  margin-left: 12px;
  --nux-card-button-w: 62px;
  --nux-card-button-bg: var(--nux-c-portage);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-card {
    --nux-card-help-g: 30px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-card {
    --nux-card-help-g: 40px;
  }
}

/**
--------------------------------------------------
  Button
--------------------------------------------------
**/
.nux-button {
  position: relative;
  z-index: 1;
  padding: 15px var(--nux-button-px);
  font-size: 14px;
  font-weight: inherit;
  line-height: 20px;
  text-decoration: none;
  text-transform: inherit;
  background-color: transparent;
  border: 0;
  color: var(--nux-c-white);
  cursor: pointer;
}
.nux-button svg {
  display: block;
  margin-left: 12px;
  fill: currentColor;
}
.nux-button::before,
.nux-button::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  content: "";
  -webkit-transition-property: translate;
          transition-property: translate;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-button::before {
  background-color: var(--nux-button-bg);
}
.nux-button::after {
  translate: 0 100%;
  background-color: var(--nux-c-white-a-20);
}
.nux-button:hover::after {
  translate: 0 0;
}
.nux-button.i1 {
  --nux-button-bg: var(--nux-c-bittersweet);
}
.nux-button.i2 {
  --nux-button-bg: var(--nux-c-portage);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-button {
    --nux-button-px: 20px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-button {
    --nux-button-px: 30px;
  }
}

/**
--------------------------------------------------
  Keyword
--------------------------------------------------
**/
.nux-keyword {
  position: relative;
}
.nux-keyword__list {
  position: relative;
  gap: 16px 8px;
  font-size: 12px;
  line-height: 16px;
}
.nux-keyword__list svg {
  display: block;
  margin-left: 10px;
  fill: currentColor;
}
.nux-keyword__list label {
  padding: 7px 15px;
  background-color: var(--nux-c-river-bed);
  border-radius: 15px;
  color: var(--nux-c-white);
  cursor: pointer;
  -webkit-transition-property: background-color;
          transition-property: background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-keyword__list label svg {
  display: none;
}
.nux-keyword__list label:hover {
  background-color: var(--nux-c-bittersweet);
}
.nux-keyword__list input:checked + label {
  background-color: var(--nux-c-portage);
}
.nux-keyword__list input:checked + label svg {
  display: block;
}
.nux-keyword__label {
  margin-top: 25px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition-property: color;
          transition-property: color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-keyword__label em {
  font-style: normal;
}
.nux-keyword__label span {
  display: none;
}
.nux-keyword__label span + span {
  display: inherit;
}
.nux-keyword__label svg {
  display: block;
  margin-left: 10px;
  fill: currentColor;
}
.nux-keyword__label:hover {
  color: var(--nux-c-bittersweet);
}
.nux-keyword__input:checked ~ .nux-keyword__list li:nth-child(n+7) {
  display: none;
}
.nux-keyword__input:checked ~ .nux-keyword__label span {
  display: inherit;
}
.nux-keyword__input:checked ~ .nux-keyword__label span + span {
  display: none;
}
