/**
--------------------------------------------------
  Layout
--------------------------------------------------
**/
:root {
  --nux-ff-poppins: Poppins, sans-serif;
  --nux-ff-mongoose: Mongoose, sans-serif;
  --nux-fw-regular: 400;
  --nux-fw-semibold: 600;
  --nux-fw-bold: 700;
  --nux-c-black: #000;
  --nux-c-black-a-20: rgba(0, 0, 0, 0.2);
  --nux-c-black-a-60: rgba(0, 0, 0, 0.6);
  --nux-c-white: #fff;
  --nux-c-white-a-20: rgba(255, 255, 255, 0.2);
  --nux-c-bluewood: #233344;
  --nux-c-big-stone: #193246;
  --nux-c-river-bed: #445160;
  --nux-c-botticelli: #d9e3ed;
  --nux-c-cadet-blue: #aab5c0;
  --nux-c-westar: #e4e1d8;
  --nux-c-selago: #f0e9fd;
  --nux-c-portage: #b28ff6;
  --nux-c-bittersweet: #ff6964;
}

.nux-container {
  max-width: var(--nux-container-max-w);
  margin-inline: auto;
  padding-inline: var(--nux-gap);
  font-family: var(--nux-ff-poppins);
}
.nux-container * {
  color: inherit;
}
.nux-container p {
  margin: 0;
  padding: 0;
}
.nux-container ul,
.nux-container ol {
  list-style: none;
}
.nux-container img,
.nux-container svg {
  vertical-align: top;
}
.nux-container svg {
  fill: currentColor;
}
.nux-container a,
.nux-container button,
.nux-container input,
.nux-container textarea {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color, color;
          transition-property: background-color, color;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-container button,
.nux-container input,
.nux-container textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: top;
}
.nux-container button {
  line-height: inherit;
  cursor: pointer;
}
.nux-container input::-webkit-input-placeholder,
.nux-container textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.6;
}
.nux-container input::-moz-placeholder,
.nux-container textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.6;
}
.nux-container input:-ms-input-placeholder,
.nux-container textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}
.nux-container input::-ms-input-placeholder,
.nux-container textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}
.nux-container input::placeholder,
.nux-container textarea::placeholder {
  color: inherit;
  opacity: 0.6;
}
.nux-container input {
  line-height: normal;
}
.nux-container textarea {
  line-height: inherit;
  resize: none;
}
.nux-hidden {
  display: none !important;
}
.nux-gap {
  height: var(--nux-gap-h);
}
.nux-line {
  height: 1px;
  background-color: var(--nux-c-botticelli);
}
.nux-line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.nux-line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.nux-line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

/* mobile */
@media (max-width: 1023px) {
  .nux-container {
    --nux-gap: 30px;
    --nux-header-h: 100px;
    --nux-container-max-w: 620px;
  }
  .nux-hidden-mobile {
    display: none !important;
  }
  .nux-gap {
    --nux-gap-h: 60px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-container {
    --nux-gap: 60px;
    --nux-header-h: 180px;
    --nux-container-max-w: 1920px;
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-hidden-tablet {
    display: none !important;
  }
  .nux-gap {
    --nux-gap-h: 80px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-hidden-desktop {
    display: none !important;
  }
  .nux-gap {
    --nux-gap-h: 100px;
  }
}

/**
--------------------------------------------------
  Modifier
--------------------------------------------------
**/
.nux-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nux-d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.nux-d-block {
  display: block;
}
.nux-d-inline-block {
  display: inline-block;
}
.nux-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}
.nux-flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.nux-flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.nux-flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.nux-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nux-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.nux-flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
      flex: none;
}
.nux-flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.nux-flex-initial {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.nux-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.nux-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.nux-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nux-justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nux-justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.nux-justify-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.nux-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.nux-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.nux-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nux-align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.nux-align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.nux-w-auto {
  width: auto;
}
.nux-w-full {
  width: 100%;
}
.nux-h-auto {
  height: auto;
}
.nux-h-full {
  height: 100%;
}
.nux-max-w-full {
  max-width: 100%;
}
.nux-max-w-1280 {
  max-width: 1280px;
}
.nux-max-h-full {
  max-height: 100%;
}
.nux-min-w-full {
  min-width: 100%;
}
.nux-min-h-full {
  min-height: 100%;
}
.nux-of-hidden {
  overflow: hidden;
}
.nux-of-visible {
  overflow: visible;
}
.nux-font-poppins {
  font-family: var(--nux-ff-poppins);
}
.nux-font-mongoose {
  font-family: var(--nux-ff-mongoose);
}
.nux-font-italic {
  font-style: italic;
}
.nux-font-normal {
  font-style: normal;
}
.nux-font-regular {
  font-weight: var(--nux-fw-regular);
}
.nux-font-semibold {
  font-weight: var(--nux-fw-semibold);
}
.nux-font-bold {
  font-weight: var(--nux-fw-bold);
}
.nux-text-left {
  text-align: left;
}
.nux-text-right {
  text-align: right;
}
.nux-text-center {
  text-align: center;
}
.nux-text-justify {
  text-align: justify;
}
.nux-text-uppercase {
  text-transform: uppercase;
}
.nux-text-lowercase {
  text-transform: lowercase;
}
.nux-text-capitalize {
  text-transform: capitalize;
}
.nux-ratio-1x1 {
  aspect-ratio: 1/1;
}
.nux-ratio-4x3 {
  aspect-ratio: 4/3;
}
.nux-ratio-16x9 {
  aspect-ratio: 16/9;
}
.nux-ratio-21x9 {
  aspect-ratio: 21/9;
}
.nux-obj-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.nux-obj-contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.nux-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
--------------------------------------------------
  Splide
--------------------------------------------------
**/
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-rendered,
.splide.is-initialized {
  visibility: visible;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide:not(.is-overflow) .splide__arrow,
.splide:not(.is-overflow) .splide__arrows,
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__track,
.splide__slide,
.splide__container {
  position: relative;
}
.splide__track {
  z-index: 0;
  overflow: hidden;
}
.splide__track--fade > .splide__list > .splide__slide {
  z-index: 0;
  opacity: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  z-index: 1;
  opacity: 1;
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.splide__list,
.splide__slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__list,
.splide__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.splide__list {
  height: 100%;
}
.splide__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.splide__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.splide__visible {
  overflow: visible;
}
.splide__arrows {
  gap: 6px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: var(--nux-c-cadet-blue);
}
.splide__arrows button {
  padding: 0;
  line-height: 1;
  background-color: transparent;
  border: 0;
  color: inherit;
}
.splide__arrows button:hover {
  color: var(--nux-c-big-stone);
}
.splide__arrows button:disabled {
  opacity: 0.25;
  pointer-events: none;
  cursor: default;
}
.splide__paging {
  min-width: 30px;
}

/**
--------------------------------------------------
  Hero
--------------------------------------------------
**/
.nux-hero {
  background-color: var(--nux-c-bittersweet);
}
.nux-hero__span {
  padding-inline: var(--nux-hero-span-px);
}
.nux-hero__title {
  font-size: var(--nux-hero-title-fs);
  line-height: 1;
}
.nux-hero__title .nux-hero__span {
  background-color: var(--nux-c-white);
}
.nux-hero__summary {
  font-size: var(--nux-hero-summary-fs);
  line-height: 1.5;
}
.nux-hero__summary .nux-hero__span {
  background-color: var(--nux-c-westar);
}
.nux-hero__picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
.nux-hero__body {
  position: absolute;
  z-index: 2;
}
.nux-hero__banner {
  position: relative;
  z-index: 1;
}
.nux-hero__container {
  position: relative;
}

/* mobile */
@media (max-width: 1023px) {
  .nux-hero {
    --nux-hero-span-px: 15px;
    --nux-hero-title-fs: 78px;
    --nux-hero-summary-fs: 16px;
  }
  .nux-hero__body {
    top: 60px;
    right: 0;
  }
  .nux-hero__banner {
    height: calc(100dvh - var(--nux-header-h));
    min-height: 364px;
    max-height: 530px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-hero {
    --nux-hero-span-px: 20px;
  }
  .nux-hero__body {
    top: 0;
    right: 50%;
  }
  .nux-hero__banner {
    height: var(--nux-hero-banner-h);
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-hero {
    --nux-hero-title-fs: 112px;
    --nux-hero-summary-fs: 24px;
    --nux-hero-banner-h: 376px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-hero {
    --nux-hero-title-fs: 146px;
    --nux-hero-summary-fs: 30px;
    --nux-hero-banner-h: 482px;
  }
}

/**
--------------------------------------------------
  Intro
--------------------------------------------------
**/
.nux-intro {
  padding-block: var(--nux-intro-py);
}
.nux-intro__title,
.nux-intro__category {
  line-height: 1;
}
.nux-intro__title {
  font-size: var(--nux-intro-title-fs);
}
.nux-intro__category {
  font-size: 45px;
}
.nux-intro__category li {
  padding-block: 10px;
}
.nux-intro__category li:not(:first-child) {
  margin-left: var(--nux-intro-category-g);
  padding-left: var(--nux-intro-category-g);
  border-left: currentColor solid 1px;
}
.nux-intro__summary {
  font-size: 14px;
  line-height: 20px;
}
.nux-intro__summary a {
  text-decoration: underline;
  color: inherit;
}
.nux-intro__summary a:hover {
  color: var(--nux-c-bittersweet);
}
.nux-intro__summary p:not(:first-child) {
  margin-top: 20px;
}
.nux-intro__banner {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-intro__banner::before,
.nux-intro__banner::after {
  position: absolute;
  width: var(--nux-intro-shape-w);
  aspect-ratio: 1/1;
  pointer-events: none;
  content: "";
}
.nux-intro__banner::before {
  top: 0;
  right: var(--nux-intro-shape-x);
  translate: 0 -50%;
  background-color: var(--nux-c-bittersweet);
}
.nux-intro__banner::after {
  bottom: 0;
  left: 0;
  translate: -50% 0;
  background-color: var(--nux-c-bluewood);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-intro {
    --nux-intro-py: 60px;
    --nux-intro-title-fs: 64px;
    --nux-intro-category-g: 20px;
    --nux-intro-shape-w: 70px;
    --nux-intro-shape-x: 20px;
  }
  .nux-intro__banner,
  .nux-intro__button,
  .nux-intro__summary,
  .nux-intro__category {
    margin-top: 30px;
  }
  .nux-intro__banner {
    position: relative;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-intro {
    --nux-intro-category-g: 30px;
    --nux-intro-shape-x: 30px;
  }
  .nux-intro__category {
    margin-top: 20px;
  }
  .nux-intro__summary {
    margin-top: 30px;
  }
  .nux-intro__button {
    margin-top: 40px;
  }
  .nux-intro__banner {
    position: absolute;
    top: 0;
    left: var(--nux-gap);
    width: var(--nux-intro-banner-w);
  }
  .nux-intro__container {
    position: relative;
    min-height: var(--nux-intro-banner-w);
    padding-left: calc(var(--nux-intro-banner-w) + var(--nux-gap) + var(--nux-intro-container-g));
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-intro {
    --nux-intro-py: 80px;
    --nux-intro-title-fs: 82px;
    --nux-intro-banner-w: 400px;
    --nux-intro-shape-w: 100px;
    --nux-intro-container-g: 60px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-intro {
    --nux-intro-py: 100px;
    --nux-intro-title-fs: 100px;
    --nux-intro-shape-w: 140px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .nux-intro {
    --nux-intro-banner-w: 600px;
    --nux-intro-container-g: 80px;
  }
}
@media (min-width: 1600px) {
  .nux-intro {
    --nux-intro-banner-w: 800px;
    --nux-intro-container-g: 100px;
  }
}

/**
--------------------------------------------------
  Search
--------------------------------------------------
**/
.nux-search {
  padding-block: var(--nux-search-py);
  background-color: var(--nux-c-bluewood);
}
.nux-search__title {
  font-size: var(--nux-search-title-fs);
  line-height: 1;
  color: var(--nux-c-portage);
}
.nux-search__label,
.nux-search__summary {
  color: var(--nux-c-white);
}
.nux-search__label {
  font-size: 14px;
  line-height: 20px;
}
.nux-search__control {
  max-width: 320px;
  margin-top: 15px;
}
.nux-search__control input,
.nux-search__control button {
  height: 40px;
  border: 0;
}
.nux-search__control input {
  width: calc(100% - 40px);
  padding: 7px 15px;
  font-size: 14px;
  background-color: var(--nux-c-white);
  color: var(--nux-c-big-stone);
}
.nux-search__control input::-webkit-input-placeholder {
  font-style: italic;
}
.nux-search__control input::-moz-placeholder {
  font-style: italic;
}
.nux-search__control input:-ms-input-placeholder {
  font-style: italic;
}
.nux-search__control input::-ms-input-placeholder {
  font-style: italic;
}
.nux-search__control input::placeholder {
  font-style: italic;
}
.nux-search__control button {
  width: 40px;
  padding: 0;
  line-height: 1;
  background-color: var(--nux-c-portage);
  color: var(--nux-c-white);
}
.nux-search__control button:hover {
  background-color: var(--nux-c-bittersweet);
}
.nux-search__keyword {
  margin-top: 25px;
}
.nux-search__line {
  height: 1px;
  margin-block: var(--nux-search-line-my);
  background-color: var(--nux-c-river-bed);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-search {
    --nux-search-py: 60px;
    --nux-search-title-fs: 64px;
    --nux-search-line-my: 40px;
  }
  .nux-search__summary {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .nux-search__button {
    margin-top: 30px;
  }
  .nux-search__body {
    margin-top: 40px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-search {
    --nux-search-line-my: 60px;
  }
  .nux-search__summary {
    margin-top: 40px;
    font-size: 22px;
    line-height: 32px;
  }
  .nux-search__button {
    margin-top: 40px;
  }
  .nux-search__header {
    position: absolute;
    top: 0;
    left: var(--nux-gap);
    width: var(--nux-search-header-w);
  }
  .nux-search__container {
    position: relative;
    padding-left: calc(var(--nux-search-header-w) + var(--nux-gap) + var(--nux-search-container-g));
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-search {
    --nux-search-py: 80px;
    --nux-search-title-fs: 82px;
    --nux-search-header-w: 400px;
    --nux-search-container-g: 60px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-search {
    --nux-search-py: 140px;
    --nux-search-title-fs: 100px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .nux-search {
    --nux-search-header-w: 600px;
    --nux-search-container-g: 80px;
  }
}
@media (min-width: 1600px) {
  .nux-search {
    --nux-search-header-w: 800px;
    --nux-search-container-g: 100px;
  }
}

/**
--------------------------------------------------
  Service
--------------------------------------------------
**/
.nux-service {
  padding-block: var(--nux-service-py);
}
.nux-service__title {
  font-size: var(--nux-service-title-fs);
  line-height: 1;
}
.nux-service__card___image {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-service__card___body {
  margin-top: 20px;
}
.nux-service__card___title {
  font-size: var(--nux-service-card-title-fs);
  line-height: var(--nux-service-card-title-lh);
}
.nux-service__card___link {
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
}
.nux-service__card___link a {
  text-decoration: none;
  color: var(--nux-c-portage);
}
.nux-service__card___link a:hover {
  color: var(--nux-c-bittersweet);
}
.nux-service__card___link svg {
  margin-left: 10px;
}
.nux-service__list {
  margin-top: var(--nux-service-list-mt);
}
.nux-service__slide {
  margin-top: var(--nux-service-slide-mt);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-service {
    --nux-service-py: 60px;
    --nux-service-title-fs: 64px;
    --nux-service-list-mt: 20px;
    --nux-service-slide-mt: 10px;
  }
  .nux-service__card {
    --nux-service-card-title-fs: 20px;
    --nux-service-card-title-lh: 1.4;
    max-width: 320px;
    width: calc(100vw - var(--nux-gap) * 2);
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-service__list ul {
    gap: 40px var(--nux-service-list-g);
  }
  .nux-service__list li {
    width: calc((100% - var(--nux-service-list-g) * (var(--nux-service-item-c) - 1)) / var(--nux-service-item-c));
  }
  .nux-service__list.i1 {
    --nux-service-item-c: 3;
  }
  .nux-service__list.i2 {
    --nux-service-item-c: 4;
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-service {
    --nux-service-py: 80px;
    --nux-service-title-fs: 82px;
    --nux-service-list-mt: 50px;
  }
  .nux-service__card {
    --nux-service-card-title-fs: 22px;
    --nux-service-card-title-lh: 30px;
  }
  .nux-service__list.i1 {
    --nux-service-list-g: 40px;
  }
  .nux-service__list.i2 {
    --nux-service-list-g: 30px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-service {
    --nux-service-py: 120px;
    --nux-service-title-fs: 100px;
    --nux-service-list-mt: 60px;
  }
  .nux-service__card {
    --nux-service-card-title-fs: 26px;
    --nux-service-card-title-lh: 34px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .nux-service__list.i1 {
    --nux-service-list-g: 50px;
  }
  .nux-service__list.i2 {
    --nux-service-list-g: 40px;
  }
}
@media (min-width: 1600px) {
  .nux-service__list.i1 {
    --nux-service-list-g: 60px;
  }
  .nux-service__list.i2 {
    --nux-service-list-g: 50px;
  }
}

/**
--------------------------------------------------
  Career
--------------------------------------------------
**/
.nux-career__title {
  font-size: var(--nux-career-title-fs);
  line-height: 1;
}
.nux-career__summary {
  margin-top: 20px;
}
.nux-career__body {
  background-color: var(--nux-c-bittersweet);
}
.nux-career__aside {
  background-color: var(--nux-c-bluewood);
  -webkit-box-shadow: inset 0 0 30px var(--nux-c-black-a-60);
          box-shadow: inset 0 0 30px var(--nux-c-black-a-60);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-career {
    --nux-career-title-fs: 64px;
  }
  .nux-career__summary {
    font-size: 14px;
    line-height: 20px;
  }
  .nux-career__body,
  .nux-career__aside {
    padding: 60px var(--nux-gap);
  }
  .nux-career__container {
    padding-inline: 0;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-career__summary {
    font-size: 16px;
    line-height: 1.5;
  }
  .nux-career__body,
  .nux-career__aside {
    max-width: 50%;
  }
  .nux-career__body {
    padding: var(--nux-career-body-g);
  }
  .nux-career__aside {
    padding: var(--nux-gap);
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-career {
    --nux-career-title-fs: 96px;
    --nux-career-body-g: 80px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-career {
    --nux-career-title-fs: 128px;
    --nux-career-body-g: 120px;
  }
}

/**
--------------------------------------------------
  Article
--------------------------------------------------
**/
.nux-article {
  padding-top: var(--nux-article-pt);
  padding-bottom: var(--nux-article-pb);
}
.nux-article__breadcrumb {
  font-size: 12px;
  line-height: 16px;
}
.nux-article__breadcrumb a {
  text-decoration: none;
  color: inherit;
}
.nux-article__breadcrumb a:hover {
  text-decoration: underline;
  color: var(--nux-c-black);
}
.nux-article__title {
  position: relative;
  z-index: 2;
  font-size: var(--nux-article-title-fs);
  line-height: 1;
}
.nux-article__subtitle {
  margin-top: var(--nux-article-subtitle-mt);
  font-size: var(--nux-article-subtitle-fs);
  line-height: var(--nux-article-subtitle-lh);
  color: var(--nux-article-subtitle-c);
}
.nux-article__span {
  padding-inline: var(--nux-article-span-px);
  background-color: var(--nux-article-span-bg);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  color: var(--nux-article-span-c);
}
.nux-article__summary {
  margin-top: var(--nux-article-summary-mt);
  font-size: 14px;
  line-height: 20px;
}
.nux-article__summary a {
  text-decoration: underline;
  color: inherit;
}
.nux-article__summary a:hover {
  color: var(--nux-c-bittersweet);
}
.nux-article__summary p:not(:first-child) {
  margin-top: 20px;
}
.nux-article__description {
  margin-top: var(--nux-article-description-mt);
}
.nux-article__category {
  margin-bottom: 20px;
  padding: 6px 15px;
  font-size: 10px;
  line-height: 1.4;
  vertical-align: top;
  background-color: var(--nux-c-selago);
  border-radius: 15px;
}
.nux-article__body {
  margin-top: var(--nux-article-body-mt);
}
.nux-article__aside {
  z-index: 1;
}
.nux-article__icon {
  position: absolute;
  width: var(--nux-article-icon-w);
}
.nux-article__banner {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-article.i1 {
  --nux-article-span-bg: var(--nux-c-selago);
  --nux-article-span-c: var(--nux-c-c-big-stone);
  --nux-article-subtitle-c: var(--nux-c-c-big-stone);
}
.nux-article.i2 {
  --nux-article-span-bg: var(--nux-c-portage);
  --nux-article-span-c: var(--nux-c-white);
  --nux-article-subtitle-c: var(--nux-c-portage);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-article {
    --nux-article-pt: 30px;
    --nux-article-pb: 60px;
    --nux-article-title-fs: 78px;
    --nux-article-span-px: 15px;
    --nux-article-subtitle-mt: 30px;
    --nux-article-subtitle-fs: 26px;
    --nux-article-subtitle-lh: 38px;
    --nux-article-summary-mt: 30px;
    --nux-article-description-mt: 20px;
    --nux-article-body-mt: 20px;
    --nux-article-icon-w: 100px;
  }
  .nux-article__title {
    margin-bottom: -40px;
    margin-left: calc(var(--nux-gap) * -1);
  }
  .nux-article__description {
    font-size: 14px;
    line-height: 20px;
  }
  .nux-article__aside {
    position: relative;
  }
  .nux-article__icon {
    right: calc(var(--nux-gap) * -1);
    bottom: var(--nux-gap);
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-article {
    --nux-article-pt: 50px;
    --nux-article-pb: 80px;
    --nux-article-span-px: 20px;
    --nux-article-subtitle-mt: 40px;
    --nux-article-summary-mt: 40px;
    --nux-article-description-mt: 50px;
    --nux-article-body-mt: 60px;
    --nux-article-aside-g: calc(var(--nux-article-aside-w) + var(--nux-article-body-g));
    --nux-article-icon-g: calc((var(--nux-article-icon-x) * 2) + var(--nux-article-icon-w));
  }
  .nux-article__title {
    margin-right: calc((var(--nux-article-aside-g) - var(--nux-article-icon-g)) * -1);
  }
  .nux-article__description {
    font-size: 22px;
    line-height: 32px;
  }
  .nux-article__category {
    margin-top: -20px;
  }
  .nux-article__body {
    position: relative;
    min-height: var(--nux-article-aside-w);
    padding-top: 20px;
    padding-right: var(--nux-article-aside-g);
  }
  .nux-article__aside {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--nux-article-aside-w);
  }
  .nux-article__icon {
    top: calc(var(--nux-article-icon-x) * -1);
    right: var(--nux-article-icon-x);
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-article {
    --nux-article-title-fs: 100px;
    --nux-article-subtitle-fs: 36px;
    --nux-article-subtitle-lh: 48px;
    --nux-article-body-g: 60px;
    --nux-article-aside-w: 400px;
    --nux-article-icon-x: 40px;
    --nux-article-icon-w: 140px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-article {
    --nux-article-title-fs: 122px;
    --nux-article-subtitle-fs: 46px;
    --nux-article-subtitle-lh: 58px;
    --nux-article-icon-x: 60px;
    --nux-article-icon-w: 180px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .nux-article {
    --nux-article-body-g: 80px;
    --nux-article-aside-w: 600px;
  }
}
@media (min-width: 1600px) {
  .nux-article {
    --nux-article-body-g: 100px;
    --nux-article-aside-w: 800px;
  }
}

/**
--------------------------------------------------
  Category
--------------------------------------------------
**/
.nux-category {
  padding-block: var(--nux-category-py);
  background-color: var(--nux-c-bluewood);
}
.nux-category__title,
.nux-category__list {
  color: var(--nux-c-white);
}
.nux-category__title {
  font-size: 16px;
  line-height: 1.5;
}
.nux-category__list {
  margin-top: 15px;
  gap: var(--nux-category-list-g);
  font-size: 14px;
  line-height: 20px;
}
.nux-category__list a {
  text-decoration: none;
  color: inherit;
}
.nux-category__list a:hover {
  color: var(--nux-c-portage);
}
.nux-category__list svg {
  margin-left: 12px;
  color: var(--nux-c-portage);
}
.nux-category__list ul {
  width: var(--nux-category-item-w);
}
.nux-category__list li {
  position: relative;
  padding-block: 5px;
  padding-left: 18px;
}
.nux-category__list li::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  pointer-events: none;
  content: "";
  background-color: var(--nux-c-portage);
}
.nux-category__card___icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--nux-c-white);
}
.nux-category__card___image {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-category__card___info {
  margin-bottom: 10px;
  padding: 6px 15px;
  font-size: 10px;
  line-height: 1.4;
  vertical-align: top;
  background-color: var(--nux-c-selago);
  border-radius: 15px;
}
.nux-category__card___title {
  font-size: 16px;
  line-height: 1.5;
}
.nux-category__card___summary {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
.nux-category__card___body {
  padding: 25px;
}
.nux-category__card___link {
  text-decoration: none;
  color: inherit;
}
.nux-category__card___item {
  position: relative;
  max-width: var(--nux-category-card-max-w);
  width: var(--nux-category-card-w);
  background-color: var(--nux-c-white);
  -webkit-box-shadow: 0 0 5px var(--nux-c-black-a-20);
          box-shadow: 0 0 5px var(--nux-c-black-a-20);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-category {
    --nux-category-py: 60px;
    --nux-category-item-w: 100%;
  }
  .nux-category__card {
    --nux-category-card-w: calc(100vw - (var(--nux-gap) * 2));
    --nux-category-card-max-w: 280px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-category {
    --nux-category-py: 80px;
    --nux-category-item-w: calc((100% - (var(--nux-category-list-g) * 2)) / 3);
  }
  .nux-category__card {
    --nux-category-card-c: 3;
  }
  .nux-category__card ul {
    gap: var(--nux-category-card-g);
  }
  .nux-category__card li {
    width: calc((100% - var(--nux-category-card-g) * (var(--nux-category-card-c) - 1)) / var(--nux-category-card-c));
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-category {
    --nux-category-list-g: 60px;
  }
  .nux-category__card {
    --nux-category-card-g: 40px;
  }
}

/* desktop */
@media (min-width: 1280px) and (max-width: 1599px) {
  .nux-category {
    --nux-category-list-g: 80px;
  }
  .nux-category__card {
    --nux-category-card-g: 50px;
  }
}
@media (min-width: 1600px) {
  .nux-category {
    --nux-category-list-g: 100px;
  }
  .nux-category__card {
    --nux-category-card-g: 60px;
  }
}

/**
--------------------------------------------------
  Toolbox
--------------------------------------------------
**/
.nux-toolbox {
  padding-block: var(--nux-toolbox-py);
  background-color: var(--nux-toolbox-bg);
}
.nux-toolbox__title,
.nux-toolbox__list {
  color: var(--nux-toolbox-c);
}
.nux-toolbox__title {
  font-size: var(--nux-toolbox-title-fs);
  line-height: 1.5;
}
.nux-toolbox__list {
  gap: 30px var(--nux-toolbox-list-g);
  font-size: var(--nux-toolbox-list-fs);
  line-height: var(--nux-toolbox-list-lh);
}
.nux-toolbox__list a {
  text-decoration: none;
  color: inherit;
}
.nux-toolbox__list a:hover {
  color: var(--nux-c-portage);
}
.nux-toolbox__list strong {
  font-weight: var(--nux-fw-semibold);
}
.nux-toolbox__list ul {
  margin-top: var(--nux-toolbox-list-mt);
}
.nux-toolbox__list li {
  position: relative;
  padding-block: 6px;
  padding-left: 18px;
}
.nux-toolbox__list li::before {
  position: absolute;
  top: 13px;
  left: 0;
  width: 10px;
  height: 10px;
  pointer-events: none;
  content: "";
  background-color: var(--nux-c-portage);
}
.nux-toolbox__item {
  width: var(--nux-toolbox-item-w);
}
.nux-toolbox__download a {
  padding: 20px 25px 20px 15px;
  text-decoration: none;
  background-color: var(--nux-c-westar);
  color: var(--nux-c-c-big-stone);
}
.nux-toolbox__download a:hover {
  color: var(--nux-c-black);
}
.nux-toolbox__download svg {
  display: block;
}
.nux-toolbox__download svg.i1 {
  margin-right: 15px;
  color: var(--nux-c-portage);
}
.nux-toolbox__download svg.i2 {
  margin-left: 25px;
}
.nux-toolbox__download em {
  margin-top: 2px;
  font-size: 12px;
  line-height: 16px;
}
.nux-toolbox__download span {
  font-size: 14px;
  line-height: 20px;
}
.nux-toolbox.i1 {
  --nux-toolbox-c: var(--nux-c-white);
  --nux-toolbox-bg: var(--nux-c-bluewood);
}
.nux-toolbox.i2 {
  --nux-toolbox-c: var(--nux-c-big-stone);
  --nux-toolbox-bg: var(--nux-c-white);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-toolbox {
    --nux-toolbox-py: 60px;
    --nux-toolbox-title-fs: 16px;
    --nux-toolbox-item-w: 100%;
    --nux-toolbox-list-g: 30px;
    --nux-toolbox-list-mt: 10px;
    --nux-toolbox-list-fs: 14px;
    --nux-toolbox-list-lh: 20px;
  }
  .nux-toolbox__download {
    margin-top: 40px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-toolbox {
    --nux-toolbox-py: 80px;
    --nux-toolbox-title-fs: 24px;
    --nux-toolbox-list-fs: 16px;
    --nux-toolbox-list-lh: 1.5;
  }
  .nux-toolbox__list {
    margin-right: calc(var(--nux-toolbox-download-w) + var(--nux-toolbox-list-g));
  }
  .nux-toolbox__download {
    position: absolute;
    top: 0;
    right: var(--nux-gap);
    width: var(--nux-toolbox-download-w);
  }
  .nux-toolbox__container {
    position: relative;
  }
  .nux-toolbox__container.i1 {
    --nux-toolbox-item-w: calc((100% - (var(--nux-toolbox-list-g) * 2)) / 3);
    --nux-toolbox-list-mt: 15px;
    --nux-toolbox-download-w: 0;
  }
  .nux-toolbox__container.i2 {
    --nux-toolbox-item-w: 100%;
    --nux-toolbox-list-mt: 5px;
    --nux-toolbox-download-w: 320px;
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-toolbox {
    --nux-toolbox-list-g: 60px;
  }
}

/* desktop */
@media (min-width: 1280px) and (max-width: 1599px) {
  .nux-toolbox {
    --nux-toolbox-list-g: 80px;
  }
}
@media (min-width: 1600px) {
  .nux-toolbox {
    --nux-toolbox-list-g: 100px;
  }
}

/**
--------------------------------------------------
  Relation
--------------------------------------------------
**/
.nux-relation {
  padding-block: var(--nux-relation-py);
}
.nux-relation__title {
  font-size: 18px;
  line-height: 24px;
}
.nux-relation__body {
  margin-top: 30px;
}

/* mobile */
@media (max-width: 1023px) {
  .nux-relation {
    --nux-relation-py: 60px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-relation {
    --nux-relation-py: 80px;
  }
}

/**
--------------------------------------------------
  Result
--------------------------------------------------
**/
.nux-result {
  padding-top: var(--nux-result-pt);
  padding-bottom: var(--nux-result-pb);
}
.nux-result__title {
  font-size: var(--nux-result-title-fs);
  line-height: 1;
  color: var(--nux-c-portage);
}
.nux-result__link {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  font-size: var(--nux-result-link-fs);
  line-height: var(--nux-result-link-lh);
}
.nux-result__link a {
  text-decoration: underline;
  color: inherit;
}
.nux-result__link a:hover {
  color: var(--nux-c-black);
}
.nux-result__summary {
  font-size: var(--nux-result-summary-fs);
  line-height: var(--nux-result-summary-lh);
}
.nux-result__message {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.nux-result__header {
  position: relative;
}
.nux-result__body {
  margin-top: var(--nux-result-body-mt);
}
.nux-result__card {
  margin-top: var(--nux-result-card-mt);
}
.nux-result__card___icon {
  position: absolute;
  color: var(--nux-c-white);
}
.nux-result__card___svg {
  width: var(--nux-result-card-svg-w);
}
.nux-result__card___image {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-result__card___info {
  margin-bottom: 10px;
  padding: 6px 15px;
  font-size: 10px;
  line-height: 1.4;
  vertical-align: top;
  background-color: var(--nux-c-selago);
  border-radius: 15px;
}
.nux-result__card___title {
  font-size: 15px;
  line-height: 1.4;
}
.nux-result__card___summary {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
.nux-result__card___body {
  padding: var(--nux-result-card-body-g);
}
.nux-result__card___link {
  text-decoration: none;
  color: inherit;
}
.nux-result__card___item {
  position: relative;
  background-color: var(--nux-c-white);
  -webkit-box-shadow: 0 0 5px var(--nux-c-black-a-20);
          box-shadow: 0 0 5px var(--nux-c-black-a-20);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-result {
    --nux-result-pt: 30px;
    --nux-result-pb: 60px;
    --nux-result-title-fs: 40px;
    --nux-result-link-fs: 12px;
    --nux-result-link-lh: 16px;
    --nux-result-summary-fs: 14px;
    --nux-result-summary-lh: 20px;
    --nux-result-body-mt: 15px;
    --nux-result-card-mt: 20px;
    --nux-result-card-svg-w: 10px;
    --nux-result-card-icon-w: 50px;
    --nux-result-card-body-g: 15px;
  }
  .nux-result__card ul {
    gap: 20px;
  }
  .nux-result__card li {
    width: 100%;
  }
  .nux-result__card___icon {
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--nux-result-card-icon-w);
    background-color: var(--nux-c-portage);
  }
  .nux-result__card___item {
    padding-right: var(--nux-result-card-icon-w);
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-result {
    --nux-result-pt: 50px;
    --nux-result-pb: 80px;
    --nux-result-link-fs: 14px;
    --nux-result-link-lh: 20px;
    --nux-result-summary-fs: 18px;
    --nux-result-summary-lh: 24px;
    --nux-result-body-mt: 30px;
    --nux-result-card-mt: 40px;
    --nux-result-card-c: 4;
    --nux-result-card-svg-w: 20px;
  }
  .nux-result__card ul {
    gap: 40px var(--nux-result-card-g);
  }
  .nux-result__card li {
    width: calc((100% - var(--nux-result-card-g) * (var(--nux-result-card-c) - 1)) / var(--nux-result-card-c));
  }
  .nux-result__card___icon {
    top: 20px;
    right: 20px;
  }
}

/* tablet */
@media (min-width: 1024px) and (max-width: 1279px) {
  .nux-result {
    --nux-result-title-fs: 60px;
    --nux-result-card-g: 30px;
    --nux-result-card-body-g: 20px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .nux-result {
    --nux-result-title-fs: 100px;
    --nux-result-card-body-g: 25px;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .nux-result {
    --nux-result-card-g: 40px;
  }
}
@media (min-width: 1600px) {
  .nux-result {
    --nux-result-card-g: 50px;
  }
}

/**
--------------------------------------------------
  Card
--------------------------------------------------
**/
.nux-card {
  max-width: 300px;
  margin-inline: auto;
}
.nux-card__help {
  gap: var(--nux-card-help-g);
  font-size: 10px;
  line-height: 1.4;
  color: var(--nux-c-white);
}
.nux-card__help em {
  width: 150px;
}
.nux-card__item,
.nux-card__list {
  height: 430px;
}
.nux-card__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 13px;
  background-color: var(--nux-c-white);
  -webkit-box-shadow: 0 0 10px var(--nux-c-black);
          box-shadow: 0 0 10px var(--nux-c-black);
  cursor: -webkit-grab;
  cursor:         grab;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: translate, rotate;
          transition-property: translate, rotate;
}
.nux-card__item___image {
  background-color: var(--nux-c-botticelli);
  aspect-ratio: 1/1;
}
.nux-card__item___title {
  font-size: 15px;
  line-height: 1.4;
}
.nux-card__item___summary {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
.nux-card__item___body {
  max-height: 120px;
  margin-top: 20px;
  padding-inline: 17px;
}
.nux-card__item * {
  pointer-events: none;
}
.nux-card__item.present {
  rotate: 0deg;
  translate: 0;
}
.nux-card__item.present.moving {
  -webkit-transition: none;
          transition: none;
  cursor: -webkit-grabbing;
  cursor:         grabbing;
}
.nux-card__item.future {
  translate: 20px -20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}
.nux-card__item.future::before {
  position: absolute;
  inset: 0;
  content: "";
  pointer-events: none;
  background-color: var(--nux-c-white);
  opacity: 0.4;
}
.nux-card__item.past {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.nux-card__list,
.nux-card__toolbox {
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: opacity, visibility;
          transition-property: opacity, visibility;
}
.nux-card--loaded .nux-card__list,
.nux-card--loaded .nux-card__toolbox {
  opacity: 1;
  visibility: visible;
}
.nux-card__list {
  position: relative;
  margin-top: 50px;
  background-color: var(--nux-c-white-a-20);
}
.nux-card__toolbox {
  margin-top: 30px;
}
.nux-card__back,
.nux-card__reject,
.nux-card__accept {
  width: var(--nux-card-button-w);
  padding: 0;
  line-height: 1;
  aspect-ratio: 1/1;
  background-color: var(--nux-c-white);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px var(--nux-c-black);
          box-shadow: 0 0 10px var(--nux-c-black);
  color: var(--nux-c-big-stone);
}
.nux-card__back:hover,
.nux-card__reject:hover,
.nux-card__accept:hover {
  background-color: var(--nux-card-button-bg);
  color: var(--nux-c-white);
}
.nux-card__back {
  margin-right: 34px;
  --nux-card-button-w: 40px;
  --nux-card-button-bg: var(--nux-c-black);
}
.nux-card__reject {
  --nux-card-button-w: 62px;
  --nux-card-button-bg: var(--nux-c-bittersweet);
}
.nux-card--reject .nux-card__reject {
  background-color: var(--nux-card-button-bg);
  color: var(--nux-c-white);
}
.nux-card__accept {
  margin-left: 12px;
  --nux-card-button-w: 62px;
  --nux-card-button-bg: var(--nux-c-portage);
}
.nux-card--accept .nux-card__accept {
  background-color: var(--nux-card-button-bg);
  color: var(--nux-c-white);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-card {
    --nux-card-help-g: 30px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-card {
    --nux-card-help-g: 40px;
  }
}

/**
--------------------------------------------------
  Button
--------------------------------------------------
**/
.nux-button {
  position: relative;
  z-index: 1;
  gap: 12px;
  padding: 15px var(--nux-button-px);
  font-size: 14px;
  font-weight: inherit;
  line-height: 20px;
  text-decoration: none;
  text-transform: inherit;
  background-color: transparent;
  border: 0;
  color: var(--nux-c-white);
}
.nux-button::before,
.nux-button::after {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  content: "";
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: translate;
          transition-property: translate;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-button::before {
  background-color: var(--nux-button-bg);
}
.nux-button::after {
  translate: 0 100%;
  background-color: var(--nux-c-white-a-20);
}
.nux-button:hover::after {
  translate: 0 0;
}
.nux-button.i1 {
  --nux-button-bg: var(--nux-c-bittersweet);
}
.nux-button.i2 {
  --nux-button-bg: var(--nux-c-portage);
}

/* mobile */
@media (max-width: 1023px) {
  .nux-button {
    --nux-button-px: 20px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .nux-button {
    --nux-button-px: 30px;
  }
}

/**
--------------------------------------------------
  Keyword
--------------------------------------------------
**/
.nux-keyword {
  position: relative;
}
.nux-keyword__list {
  position: relative;
  gap: 16px 8px;
  font-size: 12px;
  line-height: 16px;
}
.nux-keyword__list svg {
  margin-left: 10px;
}
.nux-keyword__list label {
  padding: 7px 15px;
  background-color: var(--nux-c-river-bed);
  border-radius: 15px;
  color: var(--nux-c-white);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color;
          transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-keyword__list label svg {
  display: none;
}
.nux-keyword__list label:hover {
  background-color: var(--nux-c-bittersweet);
}
.nux-keyword__list input:checked + label {
  background-color: var(--nux-c-portage);
}
.nux-keyword__list input:checked + label svg {
  display: block;
}
.nux-keyword__label {
  margin-top: 25px;
  font-size: 14px;
  line-height: 20px;
  color: var(--nux-c-white);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: color;
          transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
.nux-keyword__label em {
  font-style: normal;
}
.nux-keyword__label span {
  display: none;
}
.nux-keyword__label span + span {
  display: inherit;
}
.nux-keyword__label svg {
  margin-left: 10px;
}
.nux-keyword__label:hover {
  color: var(--nux-c-bittersweet);
}
.nux-keyword__input:checked ~ .nux-keyword__list li:nth-child(n+7) {
  display: none;
}
.nux-keyword__input:checked ~ .nux-keyword__label span {
  display: inherit;
}
.nux-keyword__input:checked ~ .nux-keyword__label span + span {
  display: none;
}
