/**
--------------------------------------------------
  Normalize
--------------------------------------------------
**/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
          text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**
--------------------------------------------------
  Font
--------------------------------------------------
**/
@font-face {
  font-family: "Bliss Pro";
  src: url("../font/BlissPro-Regular.woff2") format("woff2"), url("../font/BlissPro-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Bliss Pro";
  src: url("../font/BlissPro-Italic.woff2") format("woff2"), url("../font/BlissPro-Italic.woff") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Bliss Pro";
  src: url("../font/BlissPro-Medium.woff2") format("woff2"), url("../font/BlissPro-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Bliss Pro";
  src: url("../font/BlissPro-Bold.woff2") format("woff2"), url("../font/BlissPro-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Bliss Pro";
  src: url("../font/BlissPro-BoldItalic.woff2") format("woff2"), url("../font/BlissPro-BoldItalic.woff") format("woff");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Bliss Pro";
  src: url("../font/BlissPro-ExtraBold.woff2") format("woff2"), url("../font/BlissPro-ExtraBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Bliss Pro";
  src: url("../font/BlissPro-Heavy.woff2") format("woff2"), url("../font/BlissPro-Heavy.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Magistral";
  src: url("../font/Magistral-Bold.woff2") format("woff2"), url("../font/Magistral-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Magistral";
  src: url("../font/Magistral-ExtraBold.woff2") format("woff2"), url("../font/Magistral-ExtraBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

/**
--------------------------------------------------
  Variables
--------------------------------------------------
**/
:root {
  --ff-blisspro: "Bliss Pro", Helvetica, sans-serif;
  --ff-magistral: "Magistral", sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-heavy: 900;
  --c-black: #000;
  --c-black-a-15: rgba(0, 0, 0, 0.15);
  --c-black-a-30: rgba(0, 0, 0, 0.3);
  --c-black-a-70: rgba(0, 0, 0, 0.7);
  --c-white: #fff;
  --c-white-a-90: rgba(255, 255, 255, 0.9);
  --c-nevada: #5a6e74;
  --c-lipstick: #c50160;
  --c-outer-space: #2b443b;
  --c-willow-brook: #d9ead8;
  --c-cerulean: #049de0;
  --c-alto: #d8d8d8;
  --c-silver: #bfbfbf;
  --c-concrete: #f2f2f2;
  --c-dusty-gray: #9b9b9b;
  --gutter: 20px;
}

/**
--------------------------------------------------
  Reset
--------------------------------------------------
**/
html {
  font-family: var(--ff-blisspro);
  font-size: 16px;
  font-weight: var(--fw-regular);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--c-white);
  color: var(--c-black);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

img,
svg {
  vertical-align: top;
}

svg {
  fill: currentColor;
}

a,
button,
input,
textarea {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, color;
          transition-property: background-color, border-color, color;
}

button,
input,
textarea {
  font-weight: inherit;
  vertical-align: top;
}

button {
  line-height: inherit;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

input {
  line-height: normal;
}

textarea {
  line-height: inherit;
  resize: none;
}

/**
--------------------------------------------------
  Layout
--------------------------------------------------
**/
.master,
.wrapper {
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}

/* mobilet */
@media (max-width: 767px) {
  .d--hidden-xs {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .d--hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .d--hidden-md {
    display: none !important;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .d--hidden-lg {
    display: none !important;
  }
}

/**
--------------------------------------------------
  Modifier
--------------------------------------------------
**/
.p--rel {
  position: relative;
}
.p--abs {
  position: absolute;
}
.p--fixed {
  position: fixed;
}
.p--sticky {
  position: sticky;
}

.d--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d--inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.d--block {
  display: block;
}
.d--inline-block {
  display: inline-block;
}
.d--none {
  display: none !important;
}

.flex--none {
  -webkit-box-flex: 0;
  -ms-flex: none;
      flex: none;
}
.flex--equal {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
}
.flex--auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.flex--initial {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}
.flex--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex--col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.flex--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.jc--start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.jc--end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.jc--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.jc--between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jc--around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.jc--evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.ai--start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ai--end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.ai--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ai--baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.ai--stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.float--left {
  float: left;
}
.float--right {
  float: right;
}
.float--clear::after {
  display: table;
  pointer-events: none;
  content: "";
  clear: both;
}

.w--auto {
  width: auto;
}
.w--full {
  width: 100%;
}

.h--auto {
  height: auto;
}
.h--full {
  height: 100%;
}

.max-w--full {
  max-width: 100%;
}
.max-w--780 {
  max-width: 780px;
}
.max-w--1060 {
  max-width: 1060px;
}
.max-w--1240 {
  max-width: 1240px;
}
.max-w--1320 {
  max-width: 1320px;
}
.max-h--full {
  max-height: 100%;
}

.min-w--full {
  min-width: 100%;
}
.min-h--full {
  min-height: 100%;
}

.of--hidden {
  overflow: hidden;
}
.of--visible {
  overflow: visible;
}

.obj--cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.obj--contain {
  -o-object-fit: contain;
     object-fit: contain;
}
.obj--top {
  -o-object-position: top;
     object-position: top;
}
.obj--right {
  -o-object-position: right;
     object-position: right;
}
.obj--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}
.obj--left {
  -o-object-position: left;
     object-position: left;
}
.obj--center {
  -o-object-position: center;
     object-position: center;
}
.obj--left-top {
  -o-object-position: left top;
     object-position: left top;
}
.obj--left-bottom {
  -o-object-position: left bottom;
     object-position: left bottom;
}
.obj--right-top {
  -o-object-position: right top;
     object-position: right top;
}
.obj--right-bottom {
  -o-object-position: right bottom;
     object-position: right bottom;
}

.font--blisspro {
  font-family: var(--ff-blisspro);
}
.font--magistral {
  font-family: var(--ff-magistral);
}
.font--italic {
  font-style: italic;
}
.font--normal {
  font-style: normal;
}
.font--regular {
  font-weight: var(--fw-regular);
}
.font--medium {
  font-weight: var(--fw-medium);
}
.font--bold {
  font-weight: var(--fw-bold);
}
.font--extrabold {
  font-weight: var(--fw-extrabold);
}
.font--heavy {
  font-weight: var(--fw-heavy);
}

.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
.text--capitalize {
  text-transform: capitalize;
}
.text--break {
  word-break: break-all;
}
.text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg--black {
  background-color: var(--c-black);
}
.bg--white {
  background-color: var(--c-white);
}
.bg--nevada {
  background-color: var(--c-nevada);
}
.bg--concrete {
  background-color: var(--c-concrete);
}

.c--black {
  color: var(--c-black);
}
.c--white {
  color: var(--c-white);
}
.c--lipstick {
  color: var(--c-lipstick);
}
.c--outer-space {
  color: var(--c-outer-space);
}

.opaque--20 {
  opacity: 0.2;
}
.opaque--25 {
  opacity: 0.25;
}
.opaque--30 {
  opacity: 0.3;
}
.opaque--35 {
  opacity: 0.35;
}
.opaque--40 {
  opacity: 0.4;
}
.opaque--45 {
  opacity: 0.45;
}
.opaque--50 {
  opacity: 0.5;
}

.ani--fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.ani--fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

.ratio--1by1 {
  aspect-ratio: 1/1;
}
.ratio--4by3 {
  aspect-ratio: 4/3;
}
.ratio--16by9 {
  aspect-ratio: 16/9;
}
.ratio--21by9 {
  aspect-ratio: 21/9;
}

.sr--only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
--------------------------------------------------
  Splide
--------------------------------------------------
**/
.splide {
  --splide-spinner-s: 20px;
  --splide-pagination-s: 10px;
  --splide-pagination-x: 5px;
  position: relative;
  visibility: hidden;
}
.splide.is-rendered,
.splide.is-initialized {
  visibility: visible;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__track,
.splide__slide,
.splide__container {
  position: relative;
}
.splide__track {
  z-index: 0;
}
.splide__track--rtl {
  direction: rtl;
}
.splide__track--ttb > .splide__list {
  display: block;
}
.splide__track--fade > .splide__list > .splide__slide {
  z-index: 0;
  opacity: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  z-index: 1;
  opacity: 1;
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.splide__list,
.splide__slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__list,
.splide__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.splide__list {
  height: 100%;
}
.splide__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.splide__pagination {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  pointer-events: auto;
}
.splide__pagination button {
  width: var(--splide-pagination-s);
  height: var(--splide-pagination-s);
  margin-right: var(--splide-pagination-x);
  margin-left: var(--splide-pagination-x);
  padding: 0;
  background-color: var(--c-black);
  border: 0;
  border-radius: 50%;
}
.splide__pagination button.is-active {
  background-color: var(--c-white);
}
.splide__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
  background-color: transparent;
  border: 0;
  color: var(--c-white);
  opacity: 0.5;
  -webkit-transition-property: background-color, opacity;
          transition-property: background-color, opacity;
}
.splide__arrow--prev {
  left: 0;
}
.splide__arrow--next {
  right: 0;
}
.splide__arrow:hover {
  background-color: var(--c-black-a-70);
  opacity: 1;
}
.splide__arrow:disabled {
  opacity: 0;
  pointer-events: none;
  cursor: default;
}
.splide__spinner {
  position: absolute;
  inset: 0;
  width: var(--splide-spinner-s);
  height: var(--splide-spinner-s);
  margin: auto;
  border-color: var(--c-black);
  border-left-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}
.splide__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
--------------------------------------------------
  Animate
--------------------------------------------------
**/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/**
--------------------------------------------------
  Header
--------------------------------------------------
**/
.header {
  padding-top: var(--header-py);
  padding-bottom: var(--header-py);
  text-align: var(--header-ta);
}
.header-brand {
  height: var(--header-logo);
}
.header-brand a,
.header-brand span {
  display: inline-block;
  height: 100%;
}
.header-brand img {
  display: block;
}
.header-logo {
  width: auto;
  height: 100%;
}
.header-line {
  -webkit-box-shadow: inset 0 -1px 0 0 var(--c-silver);
          box-shadow: inset 0 -1px 0 0 var(--c-silver);
}
.header-filter {
  -webkit-filter: saturate(0) brightness(0) invert(1);
          filter: saturate(0) brightness(0) invert(1);
}
.header-absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .header {
    --header-py: 20px;
    --header-ta: center;
    --header-logo: 45px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .header {
    --header-py: 25px;
    --header-ta: inherit;
    --header-logo: 90px;
  }
}

/**
--------------------------------------------------
  Footer
--------------------------------------------------
**/
.footer {
  padding-top: var(--footer-py);
  padding-bottom: var(--footer-py);
  font-size: var(--footer-fs);
  text-align: var(--footer-ta);
  line-height: 20px;
}
.footer-link {
  color: var(--c-nevada);
}
.footer-link a {
  text-decoration: none;
  color: inherit;
}
.footer-link a:hover {
  color: var(--c-black);
}
.footer-link span {
  display: block;
}
.footer-info {
  color: var(--c-dusty-gray);
}
.footer-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-social a + a {
  margin-left: 15px;
}
.footer-social span {
  margin-right: 15px;
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .footer {
    --footer-fs: 14px;
    --footer-py: 25px;
    --footer-ta: center;
  }
  .footer-link,
  .footer-info {
    width: 100%;
  }
  .footer-link li {
    width: 100%;
  }
  .footer-link li + li {
    margin-top: 10px;
  }
  .footer-info {
    margin-top: 15px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .footer {
    --footer-fs: 16px;
    --footer-py: 30px;
    --footer-ta: inherit;
  }
  .footer-link li + li {
    margin-left: 60px;
  }
  .footer-info {
    margin-left: 60px;
  }
}

/**
--------------------------------------------------
  Hero
--------------------------------------------------
**/
.hero {
  position: relative;
  background-color: var(--c-nevada);
  color: var(--c-white);
}
.hero-text,
.hero-title {
  line-height: calc(1em + 2px);
  line-height: min(1em + 2px, 100px);
}
.hero-text {
  font-size: var(--hero-text-fs);
}
.hero-title {
  font-size: var(--hero-title-fs);
}
.hero-title em {
  font-style: normal;
}
.hero-title strong {
  font-weight: inherit;
  color: var(--c-lipstick);
}
.hero-toolbar {
  margin-top: var(--hero-toolbar-mt);
}
.hero-mask,
.hero-banner,
.hero-video {
  position: absolute;
  inset: 0;
}
.hero-mask {
  z-index: 2;
}
.hero-banner {
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 3;
}
.hero-primary .hero-text {
  margin-bottom: var(--hero-text-mb);
}
.hero-primary .hero-button {
  margin-top: var(--hero-button-mt);
}
.hero-primary .hero-content {
  min-height: calc(100vh - var(--hero-footer-h));
  padding-top: var(--hero-header-h);
  padding-bottom: var(--hero-content-pb);
}
.hero-secondary .hero-text {
  position: absolute;
  right: var(--gutter);
  bottom: var(--hero-text-y);
  left: var(--gutter);
}
.hero-secondary .hero-content {
  min-height: calc(100vh - var(--hero-header-h));
  padding-top: var(--hero-content-pt);
  padding-bottom: var(--hero-content-pb);
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .hero {
    --hero-header-h: 85px;
    --hero-footer-h: 165px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .hero {
    --hero-header-h: 140px;
    --hero-footer-h: 80px;
  }
  .hero-title br {
    display: none;
  }
  .hero-title span {
    display: block;
  }
}

/* mobile */
@media (max-width: 767px) {
  .hero {
    --hero-text-mb: 20px;
    --hero-toolbar-mt: 30px;
  }
  .hero-primary {
    --hero-text-y: 40px;
    --hero-text-fs: 14px;
    --hero-title-fs: 40px;
    --hero-content-pb: 40px;
  }
  .hero-secondary {
    --hero-text-y: 20px;
    --hero-text-fs: 12px;
    --hero-title-fs: 26px;
    --hero-content-pt: 40px;
    --hero-content-pb: 60px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    --hero-text-mb: 30px;
    --hero-toolbar-mt: 50px;
  }
  .hero-primary {
    --hero-text-y: 40px;
    --hero-text-fs: 22px;
    --hero-title-fs: 70px;
    --hero-content-pb: 40px;
  }
  .hero-secondary {
    --hero-text-y: 30px;
    --hero-text-fs: 14px;
    --hero-title-fs: 52px;
    --hero-content-pt: 40px;
    --hero-content-pb: 120px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .hero {
    --hero-text-mb: 40px;
    --hero-toolbar-mt: 70px;
  }
  .hero-primary {
    --hero-text-y: 60px;
    --hero-text-fs: 30px;
    --hero-title-fs: 100px;
    --hero-content-pb: 60px;
  }
  .hero-secondary {
    --hero-text-y: 40px;
    --hero-text-fs: 16px;
    --hero-title-fs: 78px;
    --hero-content-pt: 60px;
    --hero-content-pb: 140px;
  }
}

/**
--------------------------------------------------
  Anchor
--------------------------------------------------
**/
.anchor {
  font-size: 20px;
  line-height: 1.2;
}
.anchor a {
  --anchor-icon-bg: var(--c-black-a-30);
  text-decoration: none;
  color: var(--c-white);
}
.anchor a:hover {
  --anchor-icon-bg: var(--c-lipstick);
}
.anchor em {
  display: block;
  font-style: normal;
}
.anchor svg {
  width: auto;
  height: var(--anchor-svg-h);
}
.anchor span {
  width: var(--anchor-icon-s);
  height: var(--anchor-icon-s);
  background-color: var(--anchor-icon-bg);
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px var(--c-white);
          box-shadow: inset 0 0 0 1px var(--c-white);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color;
          transition-property: background-color;
}
.anchor li:nth-child(n+2) {
  position: relative;
}
.anchor li:nth-child(n+2)::after {
  position: absolute;
  pointer-events: none;
  content: "";
  background-color: var(--c-white);
}

/* portrait */
@media (orientation: portrait) {
  .anchor {
    max-width: 244px;
    margin-right: auto;
    margin-left: auto;
  }
  .anchor em {
    margin-left: var(--gutter);
  }
  .anchor li {
    width: 100%;
  }
  .anchor li:nth-child(n+2) {
    margin-top: var(--anchor-item-g);
  }
  .anchor li:nth-child(n+2)::after {
    top: calc(-1 * var(--anchor-item-g));
    left: calc(0.5 * var(--anchor-icon-s));
    width: 1px;
    height: var(--anchor-item-g);
  }
}

/* landscape */
@media (orientation: landscape) {
  .anchor a {
    position: relative;
  }
  .anchor a:hover em {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  .anchor em {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-align: center;
    width: var(--anchor-text-w);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-property: opacity, visibility, -webkit-transform;
            transition-property: opacity, visibility, -webkit-transform;
            transition-property: opacity, visibility, transform;
            transition-property: opacity, visibility, transform, -webkit-transform;
  }
  .anchor li:nth-child(n+2) {
    margin-left: calc(2 * var(--anchor-item-g));
  }
  .anchor li:nth-child(n+2)::after {
    top: calc(0.5 * var(--anchor-icon-s));
    left: calc(-2 * var(--anchor-item-g));
    width: calc(2 * var(--anchor-item-g));
    height: 1px;
  }
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .anchor {
    --anchor-svg-h: 32px;
    --anchor-icon-s: 64px;
    --anchor-item-g: 40px;
    --anchor-text-w: 164px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .anchor {
    --anchor-svg-h: 40px;
    --anchor-icon-s: 80px;
    --anchor-item-g: 60px;
    --anchor-text-w: 180px;
  }
}

/**
--------------------------------------------------
  Button
--------------------------------------------------
**/
.button {
  position: relative;
  display: block;
  padding-top: var(--btn-py);
  padding-right: var(--btn-pr);
  padding-bottom: var(--btn-py);
  padding-left: var(--btn-pl);
  font-size: var(--btn-fs);
  line-height: calc(1em + 2px);
  text-decoration: none;
  background-color: var(--btn-default);
  border-radius: 40px;
  color: var(--c-white);
}
.button:hover {
  background-color: var(--btn-rollover);
}
.button svg {
  position: absolute;
  top: 50%;
  right: var(--btn-svg-x);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: var(--btn-svg-w);
  height: var(--btn-svg-h);
}
.button em {
  font-style: normal;
}
.button span {
  display: block;
}
.button-list {
  margin-right: calc(-1 * var(--btn-mx));
  margin-bottom: calc(-2 * var(--btn-mx));
  margin-left: calc(-1 * var(--btn-mx));
}
.button-list li {
  min-width: calc(var(--btn-mw) + 2 * var(--btn-mx));
  padding-right: var(--btn-mx);
  padding-bottom: calc(2 * var(--btn-mx));
  padding-left: var(--btn-mx);
}
.button-border {
  -webkit-box-shadow: inset 0 0 0 1px var(--c-white);
          box-shadow: inset 0 0 0 1px var(--c-white);
}
.button-theme--red {
  --btn-default: var(--c-lipstick);
  --btn-rollover: var(--c-black);
}
.button-theme--green {
  --btn-default: var(--c-outer-space);
  --btn-rollover: var(--c-black);
}
.button-theme--black {
  --btn-default: var(--c-black-a-30);
  --btn-rollover: var(--c-lipstick);
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .button {
    --btn-fs: 12px;
    --btn-py: 8px;
    --btn-pr: 40px;
    --btn-pl: 20px;
    --btn-svg-x: 15px;
    --btn-svg-w: 8px;
    --btn-svg-h: 16px;
  }
  .button-list {
    --btn-mx: 10px;
    --btn-mw: 200px;
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .button {
    --btn-fs: 18px;
    --btn-py: 12px;
    --btn-pr: 50px;
    --btn-pl: 30px;
    --btn-svg-x: 15px;
    --btn-svg-w: 16px;
    --btn-svg-h: 32px;
  }
  .button-list {
    --btn-mx: 20px;
    --btn-mw: 280px;
  }
}

/**
--------------------------------------------------
  Editor
--------------------------------------------------
**/
.editor {
  padding-right: var(--editor-x);
  padding-left: var(--editor-x);
  background-color: var(--editor-bg);
}
.editor-icon,
.editor-title,
.editor-option,
.editor-number {
  color: var(--editor-theme);
}
.editor-icon.h--1 {
  height: var(--editor-icon-h-1);
}
.editor-icon.h--2 {
  height: var(--editor-icon-h-2);
}
.editor-title {
  line-height: calc(1em + 2px);
  line-height: min(1em + 2px, 100px);
}
.editor-title.fs--1 {
  font-size: var(--editor-title-fs-1);
}
.editor-title.fs--2 {
  font-size: var(--editor-title-fs-2);
}
.editor-title.fs--3 {
  font-size: var(--editor-title-fs-3);
}
.editor-option,
.editor-number {
  line-height: 1;
}
.editor-option {
  font-size: var(--editor-option-fs);
}
.editor-option a {
  text-decoration: none;
  color: inherit;
}
.editor-option a:hover {
  text-decoration: underline;
}
.editor-option svg {
  width: auto;
  height: var(--editor-option-h);
  max-height: 56px;
}
.editor-option span {
  margin-left: var(--editor-option-mx);
}
.editor-number {
  font-size: var(--editor-number-fs);
}
.editor-info {
  margin-top: 10px;
  font-size: var(--editor-info-fs);
  line-height: var(--editor-info-lh);
}
.editor-note {
  margin-top: 5px;
  font-size: var(--editor-note-fs);
  line-height: var(--editor-note-lh);
}
.editor-detail.fs--1 {
  font-size: var(--editor-detail-fs-1);
  line-height: var(--editor-detail-lh-1);
}
.editor-detail.fs--2 {
  font-size: var(--editor-detail-fs-2);
  line-height: var(--editor-detail-lh-2);
}
.editor-detail h1,
.editor-detail h2,
.editor-detail h3,
.editor-detail h4,
.editor-detail h5,
.editor-detail p,
.editor-detail ul,
.editor-detail ol,
.editor-detail blockquote {
  margin-top: var(--editor-y-1);
}
.editor-detail h1:first-child,
.editor-detail h2:first-child,
.editor-detail h3:first-child,
.editor-detail h4:first-child,
.editor-detail h5:first-child,
.editor-detail p:first-child,
.editor-detail ul:first-child,
.editor-detail ol:first-child,
.editor-detail blockquote:first-child {
  margin-top: 0;
}
.editor-detail h1,
.editor-detail h2,
.editor-detail h3,
.editor-detail h4,
.editor-detail h5 {
  font-size: 1em;
  color: var(--editor-theme);
}
.editor-detail h1 + p,
.editor-detail h1 + ul,
.editor-detail h1 + ol,
.editor-detail h2 + p,
.editor-detail h2 + ul,
.editor-detail h2 + ol,
.editor-detail h3 + p,
.editor-detail h3 + ul,
.editor-detail h3 + ol,
.editor-detail h4 + p,
.editor-detail h4 + ul,
.editor-detail h4 + ol,
.editor-detail h5 + p,
.editor-detail h5 + ul,
.editor-detail h5 + ol {
  margin-top: 0;
}
.editor-detail ul,
.editor-detail ol {
  margin-left: 1em;
}
.editor-detail ul {
  list-style: disc;
}
.editor-detail ol {
  list-style: decimal;
}
.editor-detail blockquote {
  font-size: var(--editor-quote-fs);
  font-style: italic;
  font-weight: var(--fw-bold);
  line-height: var(--editor-quote-lh);
  text-align: center;
  color: var(--editor-theme);
}
.editor-detail blockquote footer {
  margin-top: var(--editor-panel-mt);
  font-size: var(--editor-footer-fs);
  font-style: normal;
  font-weight: var(--fw-regular);
  line-height: var(--editor-footer-lh);
  color: var(--c-black);
}
.editor-detail a {
  text-decoration: underline;
  color: var(--c-cerulean);
}
.editor-detail a:hover {
  color: var(--editor-theme);
}
.editor-detail img {
  width: 100%;
  height: auto;
}
.editor-detail strong {
  font-weight: var(--fw-bold);
}
.editor-hero,
.editor-sticky {
  margin-right: calc(-1 * var(--editor-x));
  margin-left: calc(-1 * var(--editor-x));
}
.editor-hero {
  --editor-theme: var(--c-white);
  position: relative;
  background-color: var(--c-nevada);
  color: var(--c-white);
}
.editor-hero--mask,
.editor-hero--banner {
  position: absolute;
  inset: 0;
}
.editor-hero--mask {
  z-index: 2;
}
.editor-hero--banner {
  z-index: 1;
}
.editor-hero--content {
  position: relative;
  z-index: 3;
  height: var(--editor-hero);
}
.editor-embed {
  background-color: var(--c-black);
}
.editor-embed video,
.editor-embed iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
}
.editor-media,
.editor-slide {
  max-height: 100vh;
}
.editor-media:nth-child(1) {
  position: relative;
  opacity: 1;
}
.editor-media:nth-child(n+2) {
  position: absolute;
  inset: 0;
  opacity: 0;
}
.editor-slide {
  min-height: var(--editor-slide-h);
}
.editor-banner {
  margin-top: var(--editor-panel-mt);
}
.editor-edge,
.editor-intro,
.editor-block {
  position: relative;
}
.editor-edge {
  margin-right: calc(-0.5 * (100vw - 100%));
  margin-left: calc(-0.5 * (100vw - 100%));
}
.editor-intro {
  z-index: 1;
}
.editor-block {
  z-index: 2;
}
.editor-line {
  height: 2px;
  background-color: var(--editor-theme);
}
.editor-top {
  position: fixed;
  z-index: 10;
  right: var(--editor-top);
  bottom: var(--editor-top);
  width: 56px;
  height: 56px;
  overflow: hidden;
  padding: 0;
  background-color: var(--editor-bg);
  border: var(--c-alto) solid 1px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 30px 0 var(--c-black-a-15);
          box-shadow: 0 0 30px 0 var(--c-black-a-15);
  color: var(--editor-theme);
  opacity: 0;
  visibility: hidden;
}
.editor-top.active {
  opacity: 1;
  visibility: visible;
}
.editor-theme--red {
  --editor-bg: var(--c-white);
  --editor-theme: var(--c-lipstick);
}
.editor-theme--green {
  --editor-bg: var(--c-willow-brook);
  --editor-theme: var(--c-outer-space);
}

.mt--1 {
  margin-top: var(--editor-y-1);
}
.mt--2 {
  margin-top: var(--editor-y-2);
}
.mt--3 {
  margin-top: var(--editor-y-3);
}
.mt--4 {
  margin-top: var(--editor-y-4);
}
.mt--5 {
  margin-top: var(--editor-y-5);
}
.mt--6 {
  margin-top: var(--editor-y-6);
}

.mb--1 {
  margin-bottom: var(--editor-y-1);
}
.mb--2 {
  margin-bottom: var(--editor-y-2);
}
.mb--3 {
  margin-bottom: var(--editor-y-3);
}
.mb--4 {
  margin-bottom: var(--editor-y-4);
}
.mb--5 {
  margin-bottom: var(--editor-y-5);
}
.mb--6 {
  margin-bottom: var(--editor-y-6);
}

.py--1 {
  padding-top: var(--editor-y-1);
  padding-bottom: var(--editor-y-1);
}
.py--2 {
  padding-top: var(--editor-y-2);
  padding-bottom: var(--editor-y-2);
}
.py--3 {
  padding-top: var(--editor-y-3);
  padding-bottom: var(--editor-y-3);
}
.py--4 {
  padding-top: var(--editor-y-4);
  padding-bottom: var(--editor-y-4);
}
.py--5 {
  padding-top: var(--editor-y-5);
  padding-bottom: var(--editor-y-5);
}
.py--6 {
  padding-top: var(--editor-y-6);
  padding-bottom: var(--editor-y-6);
}

.c--theme {
  color: var(--editor-theme);
}

/* mobile */
@media (max-width: 767px) {
  .editor {
    --editor-x: 20px;
    --editor-y-1: 20px;
    --editor-y-2: 30px;
    --editor-y-3: 40px;
    --editor-y-4: 50px;
    --editor-y-5: 60px;
    --editor-y-6: 70px;
    --editor-icon-h-1: 48px;
    --editor-icon-h-2: 48px;
    --editor-title-fs-1: 26px;
    --editor-title-fs-2: 26px;
    --editor-title-fs-3: 24px;
    --editor-option-h: 24px;
    --editor-option-fs: 16px;
    --editor-option-mx: 10px;
    --editor-number-fs: 80px;
    --editor-info-fs: 24px;
    --editor-info-lh: 30px;
    --editor-note-fs: 14px;
    --editor-note-lh: 20px;
    --editor-detail-fs-1: 16px;
    --editor-detail-lh-1: 22px;
    --editor-detail-fs-2: 14px;
    --editor-detail-lh-2: 20px;
    --editor-quote-fs: 26px;
    --editor-quote-lh: 32px;
    --editor-footer-fs: 14px;
    --editor-footer-lh: 20px;
    --editor-hero: 260px;
    --editor-panel-mt: 10px;
    --editor-slide-h: 210px;
    --editor-top: 20px;
  }
  .editor-title {
    text-align: center;
  }
  .editor-embed {
    margin-right: calc(-1 * var(--editor-x));
    margin-left: calc(-1 * var(--editor-x));
  }
  .editor-slider {
    margin-right: calc(-1 * var(--gutter));
    margin-left: calc(-1 * var(--gutter));
  }
  .editor-item {
    width: 100%;
  }
  .editor-item:nth-child(n+2) {
    margin-top: var(--editor-y-2);
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .editor-title br {
    display: none;
  }
  .editor-title span {
    display: block;
  }
  .editor-member {
    position: sticky;
    top: 0;
  }
  .editor-reset {
    margin-right: 0;
    margin-left: 0;
  }
  .editor-grid {
    margin-right: calc(-1 * var(--editor-grid-g));
    margin-left: calc(-1 * var(--editor-grid-g));
  }
  .editor-item {
    padding-right: var(--gutter);
    padding-left: var(--gutter);
  }
  .editor-item.i1 {
    width: var(--editor-item-w);
  }
  .editor-item.i2 {
    width: calc(100% - var(--editor-item-w));
  }
  .editor-item.i3 {
    width: 50%;
  }
  .editor-item.i3:nth-child(n+3) {
    margin-top: var(--editor-y-1);
  }
  .editor-item.i4 {
    width: 60%;
  }
  .editor-item.i4:nth-child(n+2) {
    margin-top: var(--editor-y-4);
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .editor {
    --editor-x: 40px;
    --editor-y-1: 30px;
    --editor-y-2: 45px;
    --editor-y-3: 60px;
    --editor-y-4: 75px;
    --editor-y-5: 90px;
    --editor-y-6: 105px;
    --editor-icon-h-1: 96px;
    --editor-icon-h-2: 64px;
    --editor-title-fs-1: 52px;
    --editor-title-fs-2: 40px;
    --editor-title-fs-3: 32px;
    --editor-option-h: 40px;
    --editor-option-fs: 24px;
    --editor-option-mx: 10px;
    --editor-number-fs: 110px;
    --editor-info-fs: 24px;
    --editor-info-lh: 30px;
    --editor-note-fs: 16px;
    --editor-note-lh: 22px;
    --editor-detail-fs-1: 24px;
    --editor-detail-lh-1: 34px;
    --editor-detail-fs-2: 20px;
    --editor-detail-lh-2: 30px;
    --editor-quote-fs: 40px;
    --editor-quote-lh: 50px;
    --editor-footer-fs: 20px;
    --editor-footer-lh: 30px;
    --editor-hero: 470px;
    --editor-panel-mt: 15px;
    --editor-slide-h: 400px;
    --editor-grid-g: 20px;
    --editor-item-w: 300px;
    --editor-top: 30px;
  }
  .editor-slider {
    padding-right: var(--editor-x);
    padding-left: var(--editor-x);
  }
}

/* desktop */
@media (min-width: 1280px) {
  .editor {
    --editor-x: 0;
    --editor-y-1: 40px;
    --editor-y-2: 60px;
    --editor-y-3: 80px;
    --editor-y-4: 100px;
    --editor-y-5: 120px;
    --editor-y-6: 140px;
    --editor-icon-h-1: 120px;
    --editor-icon-h-2: 90px;
    --editor-title-fs-1: 78px;
    --editor-title-fs-2: 58px;
    --editor-title-fs-3: 50px;
    --editor-option-h: auto;
    --editor-option-fs: 48px;
    --editor-option-mx: 15px;
    --editor-number-fs: 140px;
    --editor-info-fs: 32px;
    --editor-info-lh: 40px;
    --editor-note-fs: 24px;
    --editor-note-lh: 32px;
    --editor-detail-fs-1: 38px;
    --editor-detail-lh-1: 50px;
    --editor-detail-fs-2: 32px;
    --editor-detail-lh-2: 44px;
    --editor-quote-fs: 64px;
    --editor-quote-lh: 76px;
    --editor-footer-fs: 24px;
    --editor-footer-lh: 30px;
    --editor-hero: 680px;
    --editor-panel-mt: 20px;
    --editor-slide-h: 590px;
    --editor-grid-g: 108px;
    --editor-item-w: 475px;
    --editor-top: 40px;
  }
  .editor-item.i1 .editor-figure,
  .editor-item.i3 .editor-figure {
    padding-left: calc(var(--editor-grid-g) - var(--gutter));
  }
  .editor-item.i2 .editor-figure,
  .editor-item.i3 .editor-figure {
    padding-right: calc(var(--editor-grid-g) - var(--gutter));
  }
}

/**
--------------------------------------------------
  Chart
--------------------------------------------------
**/
.chart-axis,
.chart-line,
.chart-label,
.chart-level,
.chart-plant {
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
          transition-property: opacity, transform, -webkit-transform;
}
.chart-axis {
  opacity: 0;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}
.chart-line {
  opacity: 0;
}
.chart-line.i2 {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}
.chart-line.i3 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 75%;
          transform-origin: 100% 75%;
}
.chart-label {
  opacity: 0;
}
.chart-level.i1 {
  opacity: 1;
}
.chart-level.i2 {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.chart-plant {
  opacity: 0;
  -webkit-transform: translateY(50%) scaleY(0);
          transform: translateY(50%) scaleY(0);
  -webkit-transform-origin: 100% 75%;
          transform-origin: 100% 75%;
}
.chart.inView .chart-axis {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s;
}
.chart.inView .chart-line {
  opacity: 1;
}
.chart.inView .chart-line.i1 {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.chart.inView .chart-line.i2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}
.chart.inView .chart-line.i3 {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
.chart.inView .chart-label {
  opacity: 1;
}
.chart.inView .chart-label.i1 {
  -webkit-transition-delay: 3.75s;
          transition-delay: 3.75s;
}
.chart.inView .chart-label.i2 {
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
}
.chart.inView .chart-label.i3 {
  -webkit-transition-delay: 4.25s;
          transition-delay: 4.25s;
}
.chart.inView .chart-label.i4 {
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s;
}
.chart.inView .chart-label.i5 {
  -webkit-transition-delay: 4.75s;
          transition-delay: 4.75s;
}
.chart.inView .chart-label.i6 {
  -webkit-transition-delay: 5s;
          transition-delay: 5s;
}
.chart.inView .chart-level.i2 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.chart.inView .chart-plant {
  opacity: 1;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

/**
--------------------------------------------------
  Router
--------------------------------------------------
**/
.router {
  --router-w: 1440;
  --router-h: 1600;
}
.router-gap {
  position: relative;
  z-index: 1;
  min-height: var(--router-gap);
}
.router-map {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  width: calc(100% + var(--editor-x) * 2);
  height: calc(var(--router-h) / var(--router-w) * 100vw);
  opacity: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../img/route.svg);
  background-position: center var(--router-map);
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
          transition-property: opacity, transform, -webkit-transform;
}
.router-sticky {
  position: sticky;
  top: 0;
}

/* mobile */
@media (max-width: 767px) and (orientation: portrait) {
  .router {
    --router-gap: 90vw;
    --router-map: 0vw;
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  .router {
    --router-gap: 70vw;
    --router-map: -20vw;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
  .router {
    --router-gap: 85vw;
    --router-map: -5vw;
  }
}
@media (min-width: 768px) and (max-width: 1279px) and (orientation: landscape) {
  .router {
    --router-gap: 65vw;
    --router-map: -25vw;
  }
}

/* desktop */
@media (min-width: 1280px) and (orientation: portrait) {
  .router {
    --router-gap: 80vw;
    --router-map: -10vw;
  }
}
@media (min-width: 1280px) and (orientation: landscape) {
  .router {
    --router-gap: 70vw;
    --router-map: -20vw;
  }
}

/**
--------------------------------------------------
  Banner
--------------------------------------------------
**/
.banner-text,
.banner-list,
.banner-media {
  position: absolute;
}
.banner-text {
  top: var(--banner-gutter);
  left: var(--banner-gutter);
  max-width: var(--banner-text-w);
  padding: var(--banner-text-y) var(--banner-gutter);
  font-size: var(--banner-text-fs);
  line-height: var(--banner-text-lh);
  background-color: var(--c-white-a-90);
  border-radius: 1em;
}
.banner-text a {
  text-decoration: underline;
  color: var(--c-cerulean);
}
.banner-text a:hover {
  color: var(--c-lipstick);
}
.banner-text p {
  margin-top: calc(var(--banner-text-y) / 2);
}
.banner-text p:first-child {
  margin-top: 0;
}
.banner-media {
  inset: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.banner-media.visible {
  opacity: 1;
  visibility: visible;
}
.banner-list {
  top: 100%;
  right: 0;
  left: 0;
  z-index: 2;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.banner-item,
.banner-wrapper {
  position: relative;
  min-width: 100%;
  max-height: 100vh;
}
.banner-wrapper {
  background-image: url(../img/poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* mobile */
@media (max-width: 767px) {
  .banner {
    --banner-gutter: 20px;
    --banner-text-y: 10px;
    --banner-text-w: calc(100% - (var(--banner-gutter) * 2));
    --banner-text-fs: 14px;
    --banner-text-lh: 20px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .banner {
    --banner-gutter: 30px;
    --banner-text-y: 20px;
    --banner-text-w: 640px;
    --banner-text-fs: 20px;
    --banner-text-lh: 30px;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .banner {
    --banner-gutter: 40px;
    --banner-text-y: 30px;
    --banner-text-w: 960px;
    --banner-text-fs: 32px;
    --banner-text-lh: 44px;
  }
}
