/**
--------------------------------------------------
  Normalize
--------------------------------------------------
**/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
          text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**
--------------------------------------------------
  Variables
--------------------------------------------------
**/
:root {
  --ff-roboto: Roboto, sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
  --c-black: #000;
  --c-black-a-15: rgba(0, 0, 0, 0.15);
  --c-white: #fff;
  --c-alto: #d1d1d1;
  --c-gallery: #eaeaea;
  --c-mercury: #e6e6e6;
  --c-tundora: #454545;
  --c-dove-gray: #707070;
  --c-mine-shaft: #3e3e3e;
  --c-wild-sand: #f5f5f5;
  --c-emperor: #525252;
  --c-emperor-a-85: rgba(82, 82, 82, 0.85);
  --c-green: #1e9d37;
  --c-orange: #f27c30;
  --c-orange-a-55: rgba(242, 124, 48, 0.55);
  --c-orange-a-65: rgba(242, 124, 48, 0.65);
  --gap: 20px;
  --header-h: 74px;
  --g-5: calc(var(--gap) * 0.25);
  --g-10: calc(var(--gap) * 0.5);
  --g-15: calc(var(--gap) * 0.75);
  --g-20: calc(var(--gap) * 1);
  --g-25: calc(var(--gap) * 1.25);
  --g-30: calc(var(--gap) * 1.5);
  --g-35: calc(var(--gap) * 1.75);
  --g-40: calc(var(--gap) * 2);
  --g-45: calc(var(--gap) * 2.25);
  --g-50: calc(var(--gap) * 2.5);
  --g-55: calc(var(--gap) * 2.75);
  --g-60: calc(var(--gap) * 3);
  --g-65: calc(var(--gap) * 3.25);
  --g-70: calc(var(--gap) * 3.5);
  --g-75: calc(var(--gap) * 3.75);
  --g-80: calc(var(--gap) * 4);
}

/**
--------------------------------------------------
  Reset
--------------------------------------------------
**/
html {
  font-family: var(--ff-roboto);
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--c-white);
  color: var(--c-mine-shaft);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

img,
svg {
  vertical-align: top;
}

svg {
  fill: currentColor;
}

a,
button,
input,
textarea {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, color;
          transition-property: background-color, border-color, color;
}

button,
input,
textarea {
  font-weight: inherit;
  vertical-align: top;
}

button {
  line-height: inherit;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

input {
  line-height: normal;
}

textarea {
  line-height: inherit;
  resize: none;
}

/**
--------------------------------------------------
  Layout
--------------------------------------------------
**/
.wrapper,
.container {
  position: relative;
}

.container {
  margin-inline: auto;
  padding-inline: var(--gap);
}

.hidden {
  display: none !important;
}

/* mobile - tablet */
@media (max-width: 1279px) {
  .wrapper {
    padding-top: var(--header-h);
  }
}

/* mobile */
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1279px) {
  .hidden-sm {
    display: none !important;
  }
}

/* desktop */
@media (min-width: 1280px) {
  .hidden-lg {
    display: none !important;
  }
}

/**
--------------------------------------------------
  Modifier
--------------------------------------------------
**/
.p-absolute {
  position: absolute;
}
.p-fixed {
  position: fixed;
}
.p-relative {
  position: relative;
}
.p-sticky {
  position: sticky;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}
.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
      flex: none;
}
.flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.flex-initial {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.justify-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}

.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}

.max-w-full {
  max-width: 100%;
}
.max-w-800 {
  max-width: 800px;
}
.max-w-1140 {
  max-width: 1140px;
}
.max-w-1260 {
  max-width: 1260px;
}
.max-w-1340 {
  max-width: 1340px;
}
.max-h-full {
  max-height: 100%;
}

.min-w-full {
  min-width: 100%;
}
.min-h-full {
  min-height: 100%;
}

.mx-auto {
  margin-inline: auto;
}

.of-hidden {
  overflow: hidden;
}
.of-visible {
  overflow: visible;
}

.font-italic {
  font-style: italic;
}
.font-normal {
  font-style: normal;
}
.font-light {
  font-weight: var(--fw-light);
}
.font-regular {
  font-weight: var(--fw-regular);
}
.font-medium {
  font-weight: var(--fw-medium);
}
.font-semibold {
  font-weight: var(--fw-semibold);
}
.font-bold {
  font-weight: var(--fw-bold);
}
.font-extrabold {
  font-weight: var(--fw-extrabold);
}
.font-black {
  font-weight: var(--fw-black);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-break {
  word-break: break-all;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-black {
  background-color: var(--c-black);
}
.bg-white {
  background-color: var(--c-white);
}
.bg-gallery {
  background-color: var(--c-gallery);
}
.bg-mercury {
  background-color: var(--c-mercury);
}
.bg-tundora {
  background-color: var(--c-tundora);
}
.bg-wild-sand {
  background-color: var(--c-wild-sand);
}
.bg-gainsboro {
  background-color: var(--c-gainsboro);
}
.bg-orange {
  background-color: var(--c-orange);
}

.c-black {
  color: var(--c-black);
}
.c-white {
  color: var(--c-white);
}
.c-gallery {
  color: var(--c-gallery);
}
.c-mercury {
  color: var(--c-mercury);
}
.c-tundora {
  color: var(--c-tundora);
}
.c-wild-sand {
  color: var(--c-wild-sand);
}
.c-gainsboro {
  color: var(--c-gainsboro);
}
.c-orange {
  color: var(--c-orange);
}

.ratio-1x1 {
  aspect-ratio: 1/1;
}
.ratio-4x3 {
  aspect-ratio: 4/3;
}
.ratio-16x9 {
  aspect-ratio: 16/9;
}
.ratio-21x9 {
  aspect-ratio: 21/9;
}

.obj-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.obj-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.radius-10 {
  border-radius: 10px;
}
.radius-20 {
  border-radius: 20px;
}
.radius-30 {
  border-radius: 30px;
}

.rounded {
  border-radius: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
--------------------------------------------------
  Animate
--------------------------------------------------
**/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes slideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/**
--------------------------------------------------
  Splide
--------------------------------------------------
**/
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-rendered,
.splide.is-initialized {
  visibility: visible;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide:not(.is-overflow) .splide__arrow,
.splide:not(.is-overflow) .splide__arrows,
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__track,
.splide__slide,
.splide__container {
  position: relative;
}
.splide__track {
  z-index: 0;
  overflow: hidden;
}
.splide__track--fade > .splide__list > .splide__slide {
  z-index: 0;
  opacity: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  z-index: 1;
  opacity: 1;
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.splide__list,
.splide__slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__list,
.splide__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.splide__list {
  height: 100%;
}
.splide__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.splide__pagination {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  pointer-events: auto;
}
.splide__pagination button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--c-black);
  border: 0;
  border-radius: 50%;
}
.splide__pagination button.is-active {
  background-color: var(--c-white);
}
.splide__arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: 0;
}
.splide__arrow:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.splide__icon {
  width: var(--splide-icon-s);
  height: var(--splide-icon-s);
}
.splide__general {
  margin-inline: var(--splide-mx);
}
.splide__general .splide__arrow--prev {
  left: var(--splide-arrow-x);
}
.splide__general .splide__arrow--next {
  right: var(--splide-arrow-x);
}
.splide__spinner {
  position: absolute;
  inset: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border-color: var(--c-black);
  border-left-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}
.splide__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.splide__visible {
  overflow: visible;
}

/* mobile */
@media (max-width: 1279px) {
  .splide {
    --splide-mx: var(--g-30);
    --splide-icon-s: var(--g-30);
    --splide-arrow-x: calc(var(--g-40) * -1);
  }
}

/* tablet - desktop */
@media (min-width: 1280px) {
  .splide {
    --splide-mx: 0;
    --splide-icon-s: var(--g-50);
    --splide-arrow-x: calc(var(--g-40) * -2);
  }
}

/**
--------------------------------------------------
  Header
--------------------------------------------------
**/
.header {
  z-index: 100;
  background-color: var(--c-orange);
  background-clip: padding-box;
  border-top: var(--c-emperor-a-85) solid var(--header-border-w);
  color: var(--c-white);
}
.header-logo {
  width: var(--header-logo-w);
  height: auto;
}
.header-brand {
  top: var(--header-brand-y);
  left: var(--header-brand-x);
  z-index: 10;
  background-color: var(--c-white);
  -webkit-box-shadow: 3px 6px 6px var(--c-black-a-15);
          box-shadow: 3px 6px 6px var(--c-black-a-15);
}
.header-info {
  top: var(--header-info-y);
  right: var(--header-info-g);
  left: var(--header-info-x);
  -webkit-transform: translateY(calc(-50% - var(--header-border-w) * 0.5));
      -ms-transform: translateY(calc(-50% - var(--header-border-w) * 0.5));
          transform: translateY(calc(-50% - var(--header-border-w) * 0.5));
  font-size: var(--header-info-fs);
  line-height: var(--header-info-lh);
}
.header-nav a,
.header-nav button {
  text-decoration: none;
  color: currentColor;
}
.header-nav a:hover,
.header-nav button:hover {
  text-decoration: underline;
}
.header-nav button {
  background-color: transparent;
  border: 0;
}
.header-nav img {
  width: var(--header-icon-w);
  height: auto;
  margin-right: var(--g-15);
}
.header-nav svg {
  margin-left: var(--g-15);
}
.header-nav span {
  display: block;
}
.header-nav > ul > li {
  background-color: var(--header-nav-bg);
}
.header-nav > ul > li > a > svg,
.header-nav > ul > li > button > svg {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}
.header-nav > ul > li > ul {
  background-color: var(--header-nav-bg);
}
.header-nav > ul > li:hover > a,
.header-nav > ul > li:hover > button {
  text-decoration: underline;
}
.header-nav > ul > li:hover > a > svg,
.header-nav > ul > li:hover > button > svg {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}
.header-nav > ul > li:nth-child(1) {
  --header-nav-bg: var(--c-green);
}
.header-nav > ul > li:nth-child(n+2) {
  --header-nav-bg: var(--c-orange);
}
.header-email,
.header-phone {
  font-size: 15px;
  line-height: 1.2;
}
.header-email a,
.header-phone a {
  height: var(--header-button-h);
  padding: var(--g-5) var(--header-button-px);
  text-decoration: none;
  color: currentColor;
}
.header-email a:hover,
.header-phone a:hover {
  text-decoration: underline;
}
.header-email svg,
.header-phone svg {
  margin-right: calc(var(--header-toolbox-g) * 2);
}
.header-social a {
  display: block;
  text-decoration: none;
  color: currentColor;
}
.header-social img {
  width: var(--header-social-w);
  height: auto;
}
.header-social li {
  padding-inline: var(--header-toolbox-g);
}
.header-social ul {
  margin-inline: calc(var(--header-toolbox-g) * -1);
}
.header-container {
  height: var(--header-container-h);
}

/* mobile - tablet */
@media (max-width: 1279px) {
  .header {
    --header-logo-w: 88px;
    --header-brand-x: 10px;
    --header-brand-y: -8px;
    --header-info-x: calc(var(--header-logo-w) + var(--header-brand-x) + 10px);
    --header-info-y: calc(50% + (var(--header-border-w) * 0.5));
    --header-info-g: 80px;
    --header-info-fs: 12px;
    --header-info-lh: 16px;
    --header-social-w: 42px;
    --header-icon-w: 24px;
    --header-toolbox-g: 8px;
    --header-button-h: 48px;
    --header-button-px: var(--g-20);
    --header-border-w: 8px;
    --header-container-h: calc(var(--header-h) - var(--header-border-w));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .header-menu {
    position: absolute;
    top: calc(var(--header-border-w) * -1);
    right: 0;
    z-index: 10;
    max-width: 480px;
    width: calc(100% - var(--g-30));
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: calc(var(--header-container-h) + var(--header-border-w) * 2);
    padding-bottom: var(--g-20);
    background-color: var(--c-orange);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-property: opacity, visibility;
            transition-property: opacity, visibility;
  }
  .header-menu.active {
    opacity: 1;
    visibility: visible;
  }
  .header-toggle {
    top: 50%;
    right: var(--g-20);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 5;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: var(--c-white);
  }
  .header-toggle svg {
    display: block;
  }
  .header-toggle svg + svg {
    display: none;
  }
  .header-toggle.active {
    z-index: 15;
  }
  .header-toggle.active svg {
    display: none;
  }
  .header-toggle.active svg + svg {
    display: block;
  }
  .header-nav > ul > li {
    width: 100%;
  }
  .header-nav > ul > li > a,
  .header-nav > ul > li > button {
    padding: 12px var(--g-20);
    font-size: 20px;
    line-height: 1.2;
  }
  .header-nav > ul > li > ul {
    display: none;
    padding-bottom: var(--g-15);
  }
  .header-nav > ul > li > ul > li {
    width: 100%;
  }
  .header-nav > ul > li > ul > li > a {
    padding: 10px var(--g-20);
    font-size: var(--header-subnav-fs);
    line-height: var(--header-subnav-lh);
  }
  .header-nav > ul > li:hover > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-nav > ul > li:nth-child(1) {
    --header-subnav-fs: 20px;
    --header-subnav-lh: 1.2;
  }
  .header-nav > ul > li:nth-child(n+2) {
    --header-subnav-fs: 16px;
    --header-subnav-lh: 1.25;
  }
  .header-toolbox {
    margin-top: var(--g-20);
    padding-block: var(--g-20);
    border-top: var(--c-white) solid 1px;
  }
  .header-email,
  .header-phone,
  .header-social {
    width: 100%;
  }
  .header-social {
    margin-top: var(--g-20);
    padding-inline: var(--g-20);
  }
}

/* desktop */
@media (min-width: 1280px) {
  .header {
    --header-logo-w: 144px;
    --header-brand-x: var(--g-20);
    --header-brand-y: -44px;
    --header-info-x: calc(var(--header-logo-w) + var(--header-brand-x) + var(--g-15));
    --header-info-y: calc(0 - (var(--header-border-w) * 0.5));
    --header-info-g: 525px;
    --header-info-fs: 15px;
    --header-info-lh: 1.2;
    --header-social-w: 32px;
    --header-icon-w: 32px;
    --header-nav-x: var(--g-30);
    --header-nav-g: var(--g-15);
    --header-toolbox-x: var(--g-20);
    --header-toolbox-g: 5px;
    --header-button-h: 54px;
    --header-button-px: calc(var(--header-toolbox-g) * 3);
    --header-border-w: 68px;
    --header-container-h: 50px;
    position: relative;
  }
  .header-social {
    margin-left: calc(var(--header-toolbox-g) * 3);
  }
  .header-nav,
  .header-toolbox {
    position: absolute;
  }
  .header-nav {
    top: 0;
    right: calc(var(--g-20) - var(--header-nav-g));
    left: var(--header-nav-x);
    font-size: 20px;
    line-height: 1.2;
  }
  .header-nav > ul > li > a,
  .header-nav > ul > li > button {
    height: var(--header-container-h);
    padding-inline: var(--header-nav-px);
  }
  .header-nav > ul > li > ul {
    position: absolute;
    top: 100%;
    right: calc((var(--g-20) - var(--header-nav-g)) * -1);
    left: calc(var(--header-nav-x) * -1);
    -webkit-box-pack: var(--header-subnav-jc);
    -ms-flex-pack: var(--header-subnav-jc);
    justify-content: var(--header-subnav-jc);
    padding-top: var(--g-10);
    padding-bottom: var(--g-20);
    padding-left: var(--header-info-x);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    -webkit-transition-property: opacity, visibility;
            transition-property: opacity, visibility;
  }
  .header-nav > ul > li > ul > li {
    min-width: var(--header-subnav-li);
    margin-top: var(--g-10);
    border-left: var(--c-white) solid 1px;
  }
  .header-nav > ul > li > ul > li > a {
    padding: 12px var(--g-20);
  }
  .header-nav > ul > li > ul::after,
  .header-nav > ul > li > ul::before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(50vw - 50%);
    pointer-events: none;
    content: "";
    background-color: var(--header-nav-bg);
  }
  .header-nav > ul > li > ul::after {
    left: 100%;
  }
  .header-nav > ul > li > ul::before {
    right: 100%;
  }
  .header-nav > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  .header-nav > ul > li:nth-child(1) {
    --header-nav-px: calc(var(--header-nav-g) + var(--g-5));
    padding-left: calc(var(--header-info-x) - var(--header-nav-x));
  }
  .header-nav > ul > li:nth-child(n+2) {
    --header-nav-px: var(--header-nav-g);
  }
  .header-nav > ul > li:nth-child(1),
  .header-nav > ul > li:nth-child(2) {
    --header-subnav-jc: flex-start;
  }
  .header-nav > ul > li:nth-child(5),
  .header-nav > ul > li:nth-child(6) {
    --header-subnav-jc: flex-end;
  }
  .header-nav > ul > li:nth-child(2) {
    --header-subnav-li: 375px;
  }
  .header-toolbox {
    top: var(--header-info-y);
    right: var(--header-toolbox-x);
    -webkit-transform: translateY(calc(-50% - var(--header-border-w) * 0.5));
        -ms-transform: translateY(calc(-50% - var(--header-border-w) * 0.5));
            transform: translateY(calc(-50% - var(--header-border-w) * 0.5));
  }
}

/**
--------------------------------------------------
  Footer
--------------------------------------------------
**/
.footer {
  --header-toolbox-h: 46px;
}
.footer-logo {
  width: var(--footer-logo-w);
  height: auto;
}
.footer-brand {
  top: 0;
  left: var(--g-20);
}
.footer-nav {
  margin-top: var(--footer-nav-mt);
  line-height: 1.2;
}
.footer-nav a {
  text-decoration: none;
  color: currentColor;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-nav > ul {
  margin-bottom: calc(var(--g-30) * -1);
  margin-inline: calc(var(--g-20) * -1);
}
.footer-nav > ul > li {
  max-width: 280px;
  margin-bottom: var(--g-30);
  padding-inline: var(--g-20);
}
.footer-nav > ul > li > a {
  font-size: 20px;
}
.footer-nav > ul > li > ul {
  margin-top: var(--g-20);
  font-size: 15px;
}
.footer-info,
.footer-email,
.footer-phone,
.footer-editor {
  font-size: 15px;
  line-height: 1.2;
}
.footer-info {
  padding-block: var(--g-5);
}
.footer-email a,
.footer-phone a {
  height: var(--header-toolbox-h);
  padding-inline: var(--g-15);
  text-decoration: none;
  color: currentColor;
}
.footer-email a:hover,
.footer-phone a:hover {
  text-decoration: underline;
}
.footer-email svg,
.footer-phone svg {
  margin-right: var(--g-10);
}
.footer-social {
  padding-inline: var(--g-15);
}
.footer-social a {
  display: block;
  text-decoration: none;
  color: currentColor;
}
.footer-social img {
  width: var(--footer-social-w);
  height: auto;
}
.footer-social li {
  padding-inline: var(--footer-social-g);
}
.footer-social ul {
  margin-inline: calc(var(--footer-social-g) * -1);
}
.footer-editor {
  margin-bottom: calc(var(--g-20) * -1);
  margin-inline: calc(var(--g-20) * -1);
}
.footer-editor p {
  width: var(--footer-info-w);
  margin-bottom: var(--g-20);
  padding-inline: var(--g-20);
}
.footer-editor a {
  text-decoration: none;
  color: currentColor;
}
.footer-editor a:hover {
  text-decoration: underline;
}
.footer-editor span {
  margin-inline: var(--g-10);
}
.footer-editor strong {
  margin-right: var(--g-20);
}
.footer-py-1 {
  padding-block: var(--g-35);
}
.footer-py-2 {
  padding-block: var(--g-25);
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .footer {
    --footer-logo-w: 82px;
    --footer-nav-mt: var(--g-40);
    --footer-info-w: 100%;
    --footer-social-w: 42px;
    --footer-social-g: 10px;
  }
  .footer-nav > ul > li {
    width: 100%;
  }
  .footer-info {
    min-height: var(--footer-logo-w);
    padding-left: calc(var(--footer-logo-w) + var(--g-20));
  }
  .footer-social {
    width: 100%;
    margin-top: var(--g-20);
  }
  .footer-toolbox {
    margin-top: var(--g-30);
    margin-inline: calc(var(--g-20) * -1);
  }
}

/* tablet - desktop */
@media (min-width: 1024px) {
  .footer {
    --footer-logo-w: 110px;
    --footer-nav-mt: var(--g-30);
    --footer-info-w: auto;
    --footer-social-w: 24px;
    --footer-social-g: 5px;
  }
  .footer-nav,
  .footer-info {
    padding-left: calc(var(--footer-logo-w) + var(--g-30));
  }
  .footer-info {
    min-height: var(--header-toolbox-h);
    padding-right: 475px;
  }
  .footer-toolbox {
    position: absolute;
    top: 0;
    right: var(--g-5);
  }
}

/**
--------------------------------------------------
  Banner
--------------------------------------------------
**/
.banner-container {
  z-index: 3;
}
.banner-mask,
.banner-image {
  inset: 0;
}
.banner-mask {
  z-index: 2;
  background-color: var(--c-orange-a-65);
}
.banner-image {
  z-index: 1;
}
.banner-title {
  font-size: var(--banner-title-fs);
  line-height: var(--banner-title-lh);
}
.banner-summary,
.banner-toolbar {
  max-width: var(--banner-w-1);
}
.banner-summary {
  margin-bottom: var(--banner-summary-mb);
  font-size: var(--banner-summary-fs);
  line-height: var(--banner-summary-lh);
}
.banner-toolbar,
.banner-description {
  margin-top: var(--banner-toolbar-mt);
  font-size: var(--banner-toolbar-fs);
  line-height: var(--banner-toolbar-lh);
}
.banner-toolbar a {
  padding: var(--banner-toolbar-py) var(--banner-toolbar-px);
  text-decoration: none;
  background-color: var(--c-white);
  color: var(--c-black);
}
.banner-toolbar a:hover {
  background-color: var(--c-orange);
  color: var(--c-white);
}
.banner-toolbar li {
  margin-bottom: var(--g-15);
  padding-inline: var(--g-10);
}
.banner-toolbar ul {
  margin-bottom: calc(var(--g-15) * -1);
  margin-inline: calc(var(--g-10) * -1);
}
.banner-description {
  max-width: var(--banner-w-2);
}
.banner-breadcrumb {
  margin-bottom: var(--banner-breadcrumb-mb);
}
.banner-content {
  max-width: var(--banner-w-3);
  min-height: min(100vh - var(--header-h), var(--banner-h));
  padding-block: var(--banner-py);
}

/* mobile */
@media (max-width: 767px) {
  .banner {
    --banner-h: 390px;
    --banner-py: var(--g-40);
    --banner-w-1: 375px;
    --banner-w-2: 425px;
    --banner-w-3: 475px;
    --banner-title-fs: 24px;
    --banner-title-lh: 1.25;
    --banner-summary-mb: var(--g-20);
    --banner-summary-fs: 15px;
    --banner-summary-lh: 1.2;
    --banner-toolbar-mt: var(--g-30);
    --banner-toolbar-fs: 18px;
    --banner-toolbar-lh: 22px;
    --banner-toolbar-px: var(--g-20);
    --banner-toolbar-py: 12px;
    --banner-breadcrumb-mb: var(--g-20);
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .banner {
    --banner-h: 540px;
    --banner-py: var(--g-80);
    --banner-w-1: 580px;
    --banner-w-2: 680px;
    --banner-w-3: 780px;
    --banner-title-fs: 50px;
    --banner-title-lh: 56px;
    --banner-summary-mb: var(--g-40);
    --banner-summary-fs: 30px;
    --banner-summary-lh: 34px;
    --banner-toolbar-mt: var(--g-60);
    --banner-toolbar-fs: 20px;
    --banner-toolbar-lh: 1.2;
    --banner-toolbar-px: var(--g-30);
    --banner-toolbar-py: 16px;
    --banner-breadcrumb-mb: var(--g-30);
  }
}

/**
--------------------------------------------------
  Breadcrumb
--------------------------------------------------
**/
.breadcrumb {
  padding-left: var(--g-35);
  font-size: 15px;
  line-height: 20px;
}
.breadcrumb a {
  text-decoration: none;
  color: currentColor;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb svg {
  top: 0;
  left: 0;
}
.breadcrumb span {
  margin-inline: var(--g-5);
}

/* desktop */
@media (min-width: 1280px) {
  .breadcrumb {
    margin-left: calc(var(--g-35) * -1);
  }
}

/**
--------------------------------------------------
  IFA
--------------------------------------------------
**/
.ifa-menu {
  padding-block: var(--ifa-menu-py);
}
.ifa-menu--title {
  font-size: var(--ifa-menu-title-fs);
  line-height: 1.2;
  color: var(--c-orange);
}
.ifa-menu--list {
  margin-top: var(--ifa-menu-list-mt);
  font-size: var(--ifa-menu-button-fs);
  line-height: var(--ifa-menu-button-lh);
}
.ifa-menu--list a {
  padding: var(--ifa-menu-button-py) var(--ifa-menu-button-px);
  text-decoration: none;
  background-color: var(--c-white);
  color: var(--c-black);
}
.ifa-menu--list a:hover {
  background-color: var(--c-orange);
  color: var(--c-white);
}
.ifa-menu--list img {
  width: auto;
  height: var(--ifa-menu-icon-h);
  margin-right: var(--g-15);
}
.ifa-menu--list span {
  display: block;
}
.ifa-menu--list li {
  width: var(--ifa-menu-list-w);
  margin-bottom: var(--g-15);
  padding-inline: var(--g-10);
}
.ifa-menu--list ul {
  margin-bottom: calc(var(--g-15) * -1);
  margin-inline: calc(var(--g-10) * -1);
}
.ifa-line {
  height: 1px;
  background-color: var(--c-dove-gray);
}
.ifa-cta,
.ifa-about,
.ifa-figure,
.ifa-quality {
  line-height: 1.2;
}
.ifa-cta {
  padding-block: var(--ifa-cta-py);
}
.ifa-cta--info {
  font-size: var(--ifa-cta-info-fs);
}
.ifa-cta--info span {
  color: var(--c-orange);
}
.ifa-cta--info strong {
  display: block;
}
.ifa-cta--button {
  font-size: var(--ifa-cta-button-fs);
}
.ifa-cta--button a {
  padding: var(--ifa-cta-button-py) var(--ifa-cta-button-px);
  text-decoration: none;
  background-color: var(--c-orange);
  color: var(--c-white);
}
.ifa-cta--button a:hover {
  background-color: var(--c-gallery);
  color: var(--c-orange);
}
.ifa-cta--button svg {
  width: var(--ifa-cta-icon-w);
  height: var(--ifa-cta-icon-h);
}
.ifa-cta--button span {
  display: block;
}
.ifa-about {
  padding-block: var(--ifa-about-py);
}
.ifa-about--title {
  font-size: var(--ifa-about-title-fs);
}
.ifa-about--image {
  margin-top: var(--ifa-about-image-mt);
  width: var(--ifa-about-image-w);
  height: var(--ifa-about-image-h);
}
.ifa-about--summary {
  margin-top: var(--ifa-about-summary-mt);
  font-size: 15px;
}
.ifa-about--summary h3:not(:first-child),
.ifa-about--summary p:not(:first-child) {
  margin-top: var(--g-20);
}
.ifa-about--summary h3 {
  font-size: 20px;
}
.ifa-about--summary a {
  color: currentColor;
}
.ifa-about--summary a:hover {
  color: var(--c-orange);
}
.ifa-about--button {
  padding: 12px var(--g-30);
  font-size: 20px;
  text-decoration: none;
  background-color: var(--c-white);
  color: var(--c-black);
}
.ifa-about--button:hover {
  background-color: var(--c-orange);
  color: var(--c-white);
}
.ifa-about--toolbar {
  right: var(--g-30);
  bottom: var(--g-30);
  left: var(--g-30);
}
.ifa-figure {
  padding-block: var(--ifa-figure-py);
}
.ifa-figure span {
  font-size: var(--ifa-figure-fs);
}
.ifa-figure strong {
  display: block;
  margin-bottom: var(--g-5);
  font-size: 30px;
  color: var(--c-orange);
}
.ifa-figure li {
  width: 100%;
  max-width: 280px;
  margin-bottom: var(--g-30);
  padding-inline: var(--g-20);
}
.ifa-figure ul {
  margin-bottom: calc(var(--g-30) * -1);
}
.ifa-quality {
  padding-block: var(--ifa-quality-py);
}
.ifa-quality--title {
  font-size: var(--ifa-quality-title-fs);
}
.ifa-quality--image {
  width: var(--ifa-quality-image-w);
  margin-top: var(--ifa-quality-image-mt);
}
.ifa-quality--summary {
  width: var(--ifa-quality-summary-w);
  margin-top: var(--ifa-quality-summary-mt);
  font-size: 15px;
}

/* mobile - tablet */
@media (max-width: 1023px) {
  .ifa-menu {
    --ifa-menu-py: var(--g-30);
    --ifa-menu-title-fs: 20px;
    --ifa-menu-list-w: 100%;
    --ifa-menu-list-mt: var(--g-20);
    --ifa-menu-button-px: var(--g-20);
    --ifa-menu-button-py: 12px;
    --ifa-menu-button-fs: 18px;
    --ifa-menu-button-lh: 22px;
    --ifa-menu-icon-h: 22px;
  }
  .ifa-cta {
    --ifa-cta-py: var(--g-40);
    --ifa-cta-info-fs: 20px;
    --ifa-cta-icon-w: 48px;
    --ifa-cta-icon-h: 40px;
    --ifa-cta-button-fs: 20px;
    --ifa-cta-button-px: var(--g-30);
    --ifa-cta-button-py: var(--g-20);
  }
  .ifa-cta--info,
  .ifa-cta--button {
    width: 100%;
  }
  .ifa-cta--info {
    margin-bottom: var(--g-25);
  }
  .ifa-cta--button {
    text-align: center;
  }
  .ifa-cta--button svg {
    margin-inline: auto;
    margin-bottom: var(--g-15);
  }
  .ifa-cta--button span {
    width: 100%;
  }
  .ifa-about {
    --ifa-about-py: var(--g-40);
    --ifa-about-title-fs: 20px;
    --ifa-about-image-w: 100%;
    --ifa-about-image-h: 265px;
    --ifa-about-image-mt: var(--g-30);
    --ifa-about-summary-mt: var(--g-30);
  }
  .ifa-figure {
    --ifa-figure-py: var(--g-30);
    --ifa-figure-fs: 15px;
  }
  .ifa-quality {
    --ifa-quality-py: var(--g-40);
    --ifa-quality-title-fs: 20px;
    --ifa-quality-image-w: 100%;
    --ifa-quality-image-mt: var(--g-20);
    --ifa-quality-summary-w: 100%;
    --ifa-quality-summary-mt: var(--g-20);
  }
}

/* desktop */
@media (min-width: 1024px) {
  .ifa-menu {
    --ifa-menu-py: var(--g-50);
    --ifa-menu-title-fs: 30px;
    --ifa-menu-list-w: 50%;
    --ifa-menu-list-mt: var(--g-30);
    --ifa-menu-button-px: var(--g-25);
    --ifa-menu-button-py: 12px;
    --ifa-menu-button-fs: 20px;
    --ifa-menu-button-lh: 1.2;
    --ifa-menu-icon-h: 32px;
  }
  .ifa-cta {
    --ifa-cta-py: var(--g-60);
    --ifa-cta-info-fs: 40px;
    --ifa-cta-icon-w: 76px;
    --ifa-cta-icon-h: 64px;
    --ifa-cta-icon-g: var(--g-30);
    --ifa-cta-button-w: 540px;
    --ifa-cta-button-g: var(--g-40);
    --ifa-cta-button-fs: 25px;
    --ifa-cta-button-px: var(--g-40);
    --ifa-cta-button-py: var(--g-20);
  }
  .ifa-cta--info {
    width: calc(100% - (var(--ifa-cta-button-w) + var(--ifa-cta-button-g)));
  }
  .ifa-cta--button {
    width: var(--ifa-cta-button-w);
  }
  .ifa-cta--button svg {
    margin-right: var(--ifa-cta-icon-g);
  }
  .ifa-cta--button span {
    width: calc(100% - (var(--ifa-cta-icon-w) + var(--ifa-cta-icon-g)));
  }
  .ifa-about {
    --ifa-about-py: var(--g-80);
    --ifa-about-title-fs: 30px;
    --ifa-about-image-w: 450px;
    --ifa-about-image-h: 350px;
    --ifa-about-image-g: var(--g-80);
    --ifa-about-summary-mt: var(--g-40);
  }
  .ifa-about--image {
    position: absolute;
    top: 0;
    right: var(--g-20);
  }
  .ifa-about--container {
    min-height: var(--ifa-about-image-h);
    padding-right: calc(var(--ifa-about-image-g) + var(--ifa-about-image-w) + var(--gap));
  }
  .ifa-figure {
    --ifa-figure-py: var(--g-50);
    --ifa-figure-fs: 20px;
  }
  .ifa-quality {
    --ifa-quality-py: var(--g-60);
    --ifa-quality-title-fs: 30px;
    --ifa-quality-image-w: 540px;
    --ifa-quality-image-g: var(--g-40);
    --ifa-quality-image-mt: var(--g-30);
    --ifa-quality-summary-w: calc(100% - (var(--ifa-quality-image-w) + var(--ifa-quality-image-g)));
    --ifa-quality-summary-mt: var(--g-30);
  }
}

/**
--------------------------------------------------
  FAQ
--------------------------------------------------
**/
.faq-card {
  line-height: 1.2;
}
.faq-card--title {
  font-size: 20px;
  color: var(--c-orange);
}
.faq-card--editux,
.faq-card--toggle {
  font-size: 15px;
}
.faq-card--editux {
  margin-top: var(--g-15);
}
.faq-card--editux a {
  color: currentColor;
}
.faq-card--editux a:hover {
  color: var(--c-orange);
}
.faq-card--editux p:not(:first-child) {
  margin-top: var(--g-15);
}
.faq-card--toggle {
  margin-top: var(--g-25);
}
.faq-card--toggle a {
  text-decoration: none;
  color: currentColor;
}
.faq-card--toggle a:hover {
  text-decoration: underline;
}
.faq-card--toggle svg {
  margin-left: var(--g-15);
  color: var(--c-orange);
}
.faq-card--summary {
  display: block;
}
.faq-card--less,
.faq-card--description {
  display: none;
}
.faq-card:not(:first-child) {
  margin-top: var(--g-30);
  padding-top: var(--g-30);
  border-top: var(--c-dove-gray) solid 1px;
}
.faq-card.active .faq-card--more,
.faq-card.active .faq-card--summary {
  display: none;
}
.faq-card.active .faq-card--less {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.faq-card.active .faq-card--description {
  display: block;
}
.faq-section--title {
  font-size: var(--faq-section-title-fs);
  line-height: 1.2;
}
.faq-section--icon {
  margin-right: var(--g-20);
}
.faq-section--body {
  margin-top: var(--g-30);
}
.faq-section--aside {
  padding: var(--faq-section-aside-g);
}
.faq-section--image {
  inset: 0;
  z-index: 1;
}
.faq-section--info {
  z-index: 2;
  min-height: var(--faq-section-info-h);
  padding: var(--faq-section-aside-g);
  font-size: var(--faq-section-info-fs);
  line-height: 1.2;
  background-color: var(--c-orange-a-55);
  color: var(--c-white);
}
.faq-section--container {
  padding-top: var(--g-30);
  padding-bottom: var(--g-50);
}
.faq-toolbar {
  font-size: var(--faw-toolbar-fs);
  line-height: 1.2;
}
.faq-toolbar a {
  margin-inline: calc(var(--gap) * -1);
  padding: 12px var(--gap);
  text-decoration: none;
  background-color: var(--c-orange);
  color: var(--c-white);
}
.faq-toolbar a:hover {
  background-color: var(--c-gallery);
  color: var(--c-orange);
}
.faq-toolbar svg {
  margin-right: var(--g-25);
}

/* mobile - tablet */
@media (max-width: 1279px) {
  .faq-section {
    --faq-section-title-fs: 20px;
    --faq-section-aside-g: var(--g-20);
    --faq-section-info-h: 230px;
    --faq-section-info-fs: 15px;
  }
  .faq-section--aside,
  .faq-section--container {
    margin-inline: calc(var(--gap) * -1);
  }
  .faq-section--aside {
    position: relative;
  }
  .faq-section--container {
    padding-inline: var(--gap);
  }
  .faq-toolbar {
    --faw-toolbar-fs: 20px;
  }
}

/* tablet - desktop */
@media (min-width: 1280px) {
  .faq-section {
    --faq-section-title-fs: 30px;
    --faq-section-image-h: 100%;
    --faq-section-aside-w: 620px;
    --faq-section-aside-g: var(--g-35);
    --faq-section-info-h: 460px;
    --faq-section-info-fs: 30px;
  }
  .faq-section--aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--faq-section-aside-w);
  }
  .faq-section--container {
    min-height: calc(var(--faq-section-info-h) + var(--faq-section-aside-g) * 2);
    margin-left: calc(var(--faq-section-aside-w) - var(--gap));
    margin-right: calc(var(--gap) * -1);
    padding-inline: var(--g-60);
  }
  .faq-toolbar {
    --faw-toolbar-fs: 25px;
  }
}

/**
--------------------------------------------------
  Course
--------------------------------------------------
**/
.course-card--image {
  height: var(--course-card-image-h);
}
.course-card--toolbar {
  right: var(--g-20);
  bottom: var(--g-20);
  left: var(--g-20);
  font-size: var(--course-card-toolbar-fs);
  line-height: var(--course-card-toolbar-lh);
}
.course-card--toolbar a {
  padding: 8px var(--g-10);
  text-decoration: none;
  background-color: var(--c-white);
  color: var(--c-black);
}
.course-card--toolbar a:hover {
  background-color: var(--c-orange);
  color: var(--c-white);
}
.course-card--toolbar img {
  width: var(--course-card-icon-w);
  height: auto;
  margin-right: 10px;
}
.course-card--title {
  font-size: var(--course-card-title-fs);
  line-height: var(--course-card-title-lh);
  color: var(--c-orange);
}
.course-card--header,
.course-card--footer {
  padding: var(--g-20);
}
.course-card--footer {
  font-size: var(--course-card-footer-fs);
  line-height: 1.2;
}
.course-card--footer a {
  padding: 12px var(--course-card-footer-px);
  text-decoration: none;
  background-color: var(--c-orange);
  color: var(--c-white);
}
.course-card--footer a:hover {
  background-color: var(--c-gallery);
  color: var(--c-orange);
}
.course-card--footer li {
  width: var(--course-card-footer-w);
  margin-bottom: var(--g-15);
  padding-inline: var(--g-10);
}
.course-card--footer ul {
  margin-bottom: calc(var(--g-15) * -1);
  margin-inline: calc(var(--g-10) * -1);
}
.course-card--body img {
  width: 24px;
  height: auto;
  margin-right: var(--g-10);
}
.course-card--body span {
  display: block;
}
.course-card--body li {
  padding: 12px var(--g-20);
  border-bottom: var(--c-orange) solid 1px;
}
.course-section {
  padding-block: var(--course-section-py);
  background-image: url(../img/wave.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120% 674px;
}
.course-section--title,
.course-section--toolbar {
  line-height: 1.2;
}
.course-section--title {
  font-size: var(--course-section-title-fs);
}
.course-section--toolbar {
  font-size: 20px;
}
.course-section--toolbar a {
  text-decoration: none;
  color: currentColor;
}
.course-section--toolbar a:hover {
  text-decoration: underline;
}

/* mobile */
@media (max-width: 767px) {
  .course-card {
    --course-card-image-h: 140px;
    --course-card-title-fs: 20px;
    --course-card-title-lh: 1.2;
    --course-card-icon-w: 16px;
    --course-card-toolbar-fs: 12px;
    --course-card-toolbar-lh: 16px;
    --course-card-footer-w: 100%;
    --course-card-footer-fs: 20px;
    --course-card-footer-px: var(--g-30);
  }
  .course-section {
    --course-section-py: var(--g-30);
    --course-section-title-fs: 20px;
  }
  .course-section--body {
    margin-top: var(--g-30);
  }
  .course-section--toolbar {
    margin-top: var(--g-20);
    text-align: center;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .course-card {
    --course-card-image-h: 180px;
    --course-card-title-fs: 18px;
    --course-card-title-lh: 22px;
    --course-card-icon-w: 18px;
    --course-card-toolbar-fs: 14px;
    --course-card-toolbar-lh: 18px;
    --course-card-footer-w: 50%;
    --course-card-footer-fs: 15px;
    --course-card-footer-px: var(--g-15);
  }
  .course-section {
    --course-section-py: var(--g-50);
    --course-section-title-fs: 30px;
    --course-section-toolbar-w: 450px;
    --course-section-toolbar-g: var(--g-40);
  }
  .course-section--title {
    margin-right: calc(var(--course-section-toolbar-w) + var(--course-section-toolbar-g));
  }
  .course-section--toolbar {
    position: absolute;
    top: 6px;
    right: var(--gap);
    max-width: var(--course-section-toolbar-w);
    text-align: right;
  }
  .course-section--body {
    margin-top: var(--g-40);
  }
}

/**
--------------------------------------------------
  Article
--------------------------------------------------
**/
.article-card--image {
  height: 240px;
}
.article-card--title,
.article-card--summary,
.article-card--toolbar {
  line-height: 1.2;
}
.article-card--title {
  font-size: 20px;
}
.article-card--summary,
.article-card--toolbar {
  margin-top: var(--g-20);
  font-size: 15px;
}
.article-card--toolbar a {
  text-decoration: none;
  color: currentColor;
}
.article-card--toolbar a:hover {
  text-decoration: underline;
}
.article-card--toolbar svg {
  margin-left: var(--g-15);
  color: var(--c-orange);
}
.article-card--body {
  margin-top: var(--g-20);
}
.article-item {
  width: var(--article-item-w);
  margin-bottom: var(--g-30);
  padding-inline: var(--g-20);
}
.article-list {
  margin-bottom: calc(var(--g-30) * -1);
  margin-inline: calc(var(--g-20) * -1);
}
.article-section {
  padding-block: var(--article-section-py);
}
.article-section--title {
  font-size: var(--article-section-title-fs);
  line-height: 1.2;
  color: var(--c-orange);
}
.article-section--body {
  margin-top: var(--g-30);
}

/* mobile */
@media (max-width: 767px) {
  .article-list {
    --article-item-w: 100%;
  }
  .article-section {
    --article-section-py: var(--g-60);
    --article-section-title-fs: 20px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .article-list {
    --article-item-w: 33.333333%;
  }
  .article-section {
    --article-section-py: var(--g-80);
    --article-section-title-fs: 30px;
  }
}

/**
--------------------------------------------------
  Testimony
--------------------------------------------------
**/
.testimony {
  --testimony-icon-s: 60px;
  padding-block: var(--testimony-py);
}
.testimony-card {
  padding-top: calc(var(--testimony-icon-s) * 0.5);
}
.testimony-card--icon {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: var(--testimony-icon-s);
  height: var(--testimony-icon-s);
}
.testimony-card--body {
  padding: var(--g-60) var(--g-25);
  font-size: 15px;
  line-height: 1.2;
  border: var(--c-orange) solid 1px;
}
.testimony-card--body a {
  color: currentColor;
}
.testimony-card--body a:hover {
  color: var(--c-black);
}
.testimony-card--body span {
  color: var(--c-orange);
}
.testimony-card--body cite {
  display: block;
  margin-top: var(--g-20);
  font-style: normal;
}
.testimony-slider {
  margin-top: calc(var(--testimony-icon-s) * -0.5);
}
.testimony-info {
  margin-top: var(--g-30);
  font-size: var(--testimony-info-fs);
  line-height: 1.2;
}
.testimony-info p {
  padding-block: var(--g-5);
}
.testimony-info a {
  color: currentColor;
}
.testimony-info a:hover {
  color: var(--c-black);
}
.testimony-info span {
  color: var(--c-orange);
}

/* mobile */
@media (max-width: 767px) {
  .testimony {
    --testimony-py: var(--g-60);
    --testimony-info-fs: 15px;
  }
}

/* tablet - desktop */
@media (min-width: 768px) {
  .testimony {
    --testimony-py: var(--g-80);
    --testimony-info-fs: 20px;
  }
}
