/**
--------------------------------------------------
  Normalize
--------------------------------------------------
**/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
          text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/**
--------------------------------------------------
  Variables
--------------------------------------------------
**/
:root {
  --ff-montserrat: Montserrat, sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --c-black: #000;
  --c-white: #fff;
  --c-catalina-blue: #0c3183;
  --c-stratos: #010658;
  --c-turbo: #ffed00;
  --c-alto: #d8d8d8;
  --c-alabaster: #fafafa;
  --c-concrete: #f2f2f2;
  --c-gallery: #ebebeb;
  --c-silver-chalice: #a0a0a0;
  --g-16: 16px;
  --g-20: 20px;
  --g-26: 26px;
  --g-48: 48px;
  --g-68: 68px;
  --g-88: 88px;
}

/**
--------------------------------------------------
  Reset
--------------------------------------------------
**/
html {
  font-family: var(--ff-montserrat);
  font-size: 16px;
  font-weight: var(--fw-regular);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--c-white);
  color: var(--c-catalina-blue);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
fieldset,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

img,
svg {
  vertical-align: top;
}

svg {
  fill: currentColor;
}

a,
button,
input,
textarea {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, color;
          transition-property: background-color, border-color, color;
}

button,
input,
textarea {
  font-weight: inherit;
  vertical-align: top;
}

button {
  line-height: inherit;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.5;
}

input {
  line-height: normal;
}

textarea {
  line-height: inherit;
  resize: none;
}

/**
--------------------------------------------------
  Layout
--------------------------------------------------
**/
.wrapper,
.container {
  position: relative;
}

.container {
  margin-inline: auto;
  padding-inline: var(--g-20);
}

/**
--------------------------------------------------
  Modifier
--------------------------------------------------
**/
.pos-absolute {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}
.pos-relative {
  position: relative;
}
.pos-sticky {
  position: sticky;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}
.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
}
.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.flex-none {
  -webkit-box-flex: 0;
  -ms-flex: none;
      flex: none;
}
.flex-auto {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.flex-initial {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.justify-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}

.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}

.max-w-full {
  max-width: 100%;
}
.max-w-966 {
  max-width: 966px;
}
.max-w-1238 {
  max-width: 1238px;
}
.max-w-1920 {
  max-width: 1920px;
}
.max-h-full {
  max-height: 100%;
}

.min-w-full {
  min-width: 100%;
}
.min-h-full {
  min-height: 100%;
}

.mx-auto {
  margin-inline: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.of-hidden {
  overflow: hidden;
}
.of-visible {
  overflow: visible;
}

.font-italic {
  font-style: italic;
}
.font-normal {
  font-style: normal;
}
.font-light {
  font-weight: var(--fw-light);
}
.font-regular {
  font-weight: var(--fw-regular);
}
.font-medium {
  font-weight: var(--fw-medium);
}
.font-semibold {
  font-weight: var(--fw-semibold);
}
.font-bold {
  font-weight: var(--fw-bold);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-break {
  word-break: break-all;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-black {
  background-color: var(--c-black);
}
.bg-white {
  background-color: var(--c-white);
}

.c-black {
  color: var(--c-black);
}
.c-white {
  color: var(--c-white);
}

.ratio-1x1 {
  aspect-ratio: 1/1;
}
.ratio-4x3 {
  aspect-ratio: 4/3;
}
.ratio-16x9 {
  aspect-ratio: 16/9;
}
.ratio-21x9 {
  aspect-ratio: 21/9;
}

.obj-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.obj-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
--------------------------------------------------
  Animate
--------------------------------------------------
**/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  from {
    translate: 0 15%;
  }
  to {
    translate: 0 0;
  }
}
@keyframes slideIn {
  from {
    translate: 0 15%;
  }
  to {
    translate: 0 0;
  }
}
@-webkit-keyframes slideOut {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -10%;
  }
}
@keyframes slideOut {
  from {
    translate: 0 0;
  }
  to {
    translate: 0 -10%;
  }
}
@-webkit-keyframes loading {
  from {
    rotate: z 0deg;
  }
  to {
    rotate: z 360deg;
  }
}
@keyframes loading {
  from {
    rotate: z 0deg;
  }
  to {
    rotate: z 360deg;
  }
}

/**
--------------------------------------------------
  Modal
--------------------------------------------------
**/
.modal {
  --m-overlay-bg: var(--c-black);
  --m-container-bg: var(--c-white);
  --m-container-min-w: 640px;
  --m-container-max-h: 100vh;
  display: none;
}
.modal.is-open {
  display: block;
}
.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}
.modal__overlay {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--m-overlay-bg);
}
.modal__container {
  max-width: var(--m-container-min-w);
  max-height: var(--m-container-max-h);
  padding: var(--gutter);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--m-container-bg);
}
.modal[aria-hidden=true] .modal__overlay,
.modal[aria-hidden=true] .modal__container,
.modal[aria-hidden=false] .modal__overlay,
.modal[aria-hidden=false] .modal__container {
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.modal[aria-hidden=true] .modal__overlay {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
.modal[aria-hidden=true] .modal__container {
  -webkit-animation-name: slideOut;
          animation-name: slideOut;
}
.modal[aria-hidden=false] .modal__overlay {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.modal[aria-hidden=false] .modal__container {
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
}

/**
--------------------------------------------------
  Splide
--------------------------------------------------
**/
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-rendered,
.splide.is-initialized {
  visibility: visible;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide:not(.is-overflow) .splide__arrow,
.splide:not(.is-overflow) .splide__arrows,
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__track,
.splide__slide,
.splide__container {
  position: relative;
}
.splide__track {
  z-index: 0;
  overflow: hidden;
}
.splide__track--fade > .splide__list > .splide__slide {
  z-index: 0;
  opacity: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  z-index: 1;
  opacity: 1;
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.splide__list,
.splide__slide {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.splide__list,
.splide__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.splide__list {
  height: 100%;
}
.splide__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.splide__pagination {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  pointer-events: auto;
}
.splide__pagination button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--c-black);
  border: 0;
  border-radius: 50%;
}
.splide__pagination button.is-active {
  background-color: var(--c-white);
}
.splide__arrow {
  padding: 0;
  background-color: var(--c-black);
  border: 0;
}
.splide__arrow:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.splide__spinner {
  position: absolute;
  inset: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border-color: var(--c-black);
  border-left-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}
.splide__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.splide__visible {
  overflow: visible;
}

/**
--------------------------------------------------
  Header
--------------------------------------------------
**/
.header {
  padding-block: 30px;
  background-color: var(--c-catalina-blue);
  color: var(--c-alabaster);
}
.header-brand {
  height: 60px;
}
.header-nav,
.header-toolbox {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-nav {
  left: 0;
}
.header-nav ul {
  gap: var(--g-26);
}
.header-toolbox {
  right: 0;
}
.header-toolbox ul {
  gap: 10px;
}
.header-button {
  border: 0;
}
.header-button.i1,
.header-button.i2 {
  font-size: 16px;
  line-height: 1.25;
}
.header-button.i1 {
  padding-block: 20px;
  padding-right: var(--g-26);
  padding-left: var(--g-20);
  background-color: var(--c-white);
  border-radius: 0 30px 30px 0;
  color: var(--c-catalina-blue);
}
.header-button.i1 svg {
  margin-right: 10px;
}
.header-button.i1:hover {
  background-color: var(--c-turbo);
  color: var(--c-stratos);
}
.header-button.i2 {
  padding: 10px 0;
  background-color: transparent;
  color: var(--c-white);
}
.header-button.i2:hover {
  color: var(--c-turbo);
}
.header-button.i3 {
  width: 40px;
  height: 40px;
  line-height: 1;
  background-color: var(--c-white);
  border-radius: 20px;
  color: var(--c-catalina-blue);
}
.header-button.i3:hover {
  background-color: var(--c-turbo);
  color: var(--c-stratos);
}
.header-button.i4,
.header-button.i5 {
  padding-right: var(--g-20);
  padding-left: var(--g-26);
  background-color: var(--c-turbo);
  border-radius: 30px 0 0 30px;
  color: var(--c-catalina-blue);
}
.header-button.i4:hover,
.header-button.i5:hover {
  color: var(--c-stratos);
}
.header-button.i4 {
  padding-block: 20px;
  font-size: 16px;
  line-height: 1.25;
}
.header-button.i4 svg {
  margin-right: 10px;
}
.header-button.i5 {
  padding-block: 12px;
  line-height: 18px;
}
.header-button.i5 svg.i1 {
  height: 22px;
  margin-right: 10px;
}
.header-button.i5 svg.i2 {
  height: 14px;
  margin-left: 10px;
}
.header-button.i5 em {
  font-size: 10px;
}
.header-button.i5 strong {
  font-size: 14px;
}

/**
--------------------------------------------------
  Footer
--------------------------------------------------
**/
.footer {
  background-color: var(--c-alabaster);
}
.footer-info {
  padding-block: 20px;
  font-size: 14px;
  line-height: 24px;
  border-top: var(--c-alto) solid 1px;
}
.footer-info a {
  text-decoration: none;
  color: var(--c-catalina-blue);
}
.footer-info a:hover {
  color: var(--c-stratos);
}
.footer-info ul {
  gap: var(--g-20);
}
.footer-sitemap {
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer-column.i1 {
  width: 284px;
}
.footer-column.i2 {
  width: 264px;
  margin-left: var(--g-48);
}
.footer-branch {
  margin-top: 20px;
}
.footer-branch strong {
  font-size: 26px;
  line-height: 32px;
}
.footer-branch a {
  position: relative;
  margin-top: 48px;
  padding: 16px 36px;
  line-height: 1.25;
  text-decoration: none;
  background-color: var(--c-turbo);
  border-radius: 40px;
  color: var(--c-catalina-blue);
}
.footer-branch a:hover {
  color: var(--c-stratos);
}
.footer-branch svg {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 40px;
}
.footer-link strong {
  font-size: 20px;
  line-height: 1.2;
}
.footer-link strong:not(:first-child) {
  margin-top: 26px;
}
.footer-link a {
  text-decoration: none;
  color: var(--c-catalina-blue);
}
.footer-link a:hover {
  color: var(--c-stratos);
}
.footer-link ul {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
}
.footer-social strong {
  font-size: 16px;
  line-height: 1.25;
}
.footer-social a {
  text-decoration: none;
  color: var(--c-catalina-blue);
}
.footer-social a:hover {
  color: var(--c-stratos);
}
.footer-social ul {
  gap: 20px;
  margin-top: 20px;
}
.footer-quality {
  margin-top: 48px;
}
.footer-quality a {
  text-decoration: none;
  color: var(--c-catalina-blue);
}
.footer-quality a:hover {
  color: var(--c-stratos);
}
.footer-quality img {
  border: var(--c-concrete) solid 1px;
  border-radius: 10px;
}
.footer-partner {
  margin-top: 48px;
}
.footer-partner img {
  width: auto;
  height: 46px;
}
.footer-partner ul {
  gap: 20px;
}
